Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'

feat(jwks): validate EC key type and curve in buildJwk, improve startup error handling
  src/modules/jwks/jwks.service.spec.ts
  src/modules/jwks/jwks.service.ts
  src/modules/tokens/config/jwt.config.ts
Labels: ⚙️ config, 🧪 tests:unit, 💥 breaking-change

fix(docker): add COPY . . to dev Dockerfile to populate /workspace
  docker/dev/Dockerfile
Labels: 🐳 devops:docker

fix(docker): add COPY . . to dev Dockerfile to populate /workspace
  docker/dev/Dockerfile
Labels: 🐳 devops:docker

fix(jwks): address Copilot review — read PEM from ConfigService, add stack to logger
  src/modules/jwks/jwks.service.spec.ts
  src/modules/jwks/jwks.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

feat(jwks): validate EC key type and curve in buildJwk, improve startup error handling (#101)
  src/modules/jwks/jwks.service.spec.ts
  src/modules/jwks/jwks.service.ts
  src/modules/tokens/config/jwt.config.ts
Labels: ⚙️ config, 🧪 tests:unit, 💥 breaking-change

feat(jwks): validate EC key type and curve in buildJwk, improve startup error handling (#101)
  src/modules/jwks/jwks.service.spec.ts
  src/modules/jwks/jwks.service.ts
  src/modules/tokens/config/jwt.config.ts
Labels: ⚙️ config, 🧪 tests:unit, 💥 breaking-change

chore(ci): enable SonarCloud quality gate blocking
  sonar-project.properties
Labels: 🔒 tools:security

WHISPR-508 stabilize auth k3d runtime
  docker/dev/Dockerfile
  docker/dev/entrypoint.sh
Labels: 🐳 devops:docker, 📜 devops:scripts

WHISPR-508 stabilize auth k3d runtime (#103)
  docker/dev/Dockerfile
  docker/dev/entrypoint.sh
Labels: 🐳 devops:docker, 📜 devops:scripts

WHISPR-508 stabilize auth k3d runtime (#103)
  docker/dev/Dockerfile
  docker/dev/entrypoint.sh
Labels: 🐳 devops:docker, 📜 devops:scripts

chore(ci): enable SonarCloud quality gate blocking (#102)
  sonar-project.properties
Labels: 🔒 tools:security

chore(ci): enable SonarCloud quality gate blocking (#102)
  sonar-project.properties
Labels: 🔒 tools:security

fix(jwks): remove duplicated auth prefix from JwksController path (#95)
  src/modules/jwks/jwks.controller.ts
  test/jwks.e2e-spec.ts
Labels: 🎮 api:controllers, 🔬 tests:e2e, 💥 breaking-change

fix(jwks): remove duplicated auth prefix from JwksController path (#95)
  src/modules/jwks/jwks.controller.ts
  test/jwks.e2e-spec.ts
Labels: 🎮 api:controllers, 🔬 tests:e2e, 💥 breaking-change

fix(security): replace Math.random() with crypto.randomInt() for CSPRNG [WHISPR-482] (#99)
  src/modules/phone-verification/services/verification-code-generator/verification-code-generator.service.spec.ts
  src/modules/phone-verification/services/verification-code-generator/verification-code-generator.service.ts
  src/modules/signal/repositories/prekey.repository.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(security): replace Math.random() with crypto.randomInt() for CSPRNG [WHISPR-482] (#99)
  src/modules/phone-verification/services/verification-code-generator/verification-code-generator.service.spec.ts
  src/modules/phone-verification/services/verification-code-generator/verification-code-generator.service.ts
  src/modules/signal/repositories/prekey.repository.ts
Labels: 🧪 tests:unit, 💥 breaking-change

refactor: remove auth/ prefix from controllers, centralize e2e bootstrap
  src/modules/devices/controllers/devices.controller.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  test/app.e2e-spec.ts
  test/helpers/create-test-app.ts
  test/jwks.e2e-spec.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
Labels: 🎮 api:controllers, 🔬 tests:e2e, 💥 breaking-change

refactor: remove auth/ prefix from controllers, centralize e2e bootstrap (#96)
  src/modules/devices/controllers/devices.controller.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  test/app.e2e-spec.ts
  test/helpers/create-test-app.ts
  test/jwks.e2e-spec.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
Labels: 🎮 api:controllers, 🔬 tests:e2e, 💥 breaking-change

refactor: remove auth/ prefix from controllers, centralize e2e bootstrap (#96)
  src/modules/devices/controllers/devices.controller.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  test/app.e2e-spec.ts
  test/helpers/create-test-app.ts
  test/jwks.e2e-spec.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
Labels: 🎮 api:controllers, 🔬 tests:e2e, 💥 breaking-change

fix(docker): healthcheck for distroless and correct port/path
  docker/prod/Dockerfile
  src/docker/health-check.ts
Labels: 🐳 devops:docker

fix(test): update health-check spec to match new port and endpoint path
  src/docker/health-check.spec.ts
Labels: 🧪 tests:unit

feat(auth): add OTP bypass mode for dev/preprod testing
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 💥 breaking-change

feat(auth): ajout mode bypass OTP pour tests dev/preprod
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 💥 breaking-change

fix(auth): demo otp + align entities with migrations
  docker/dev/Dockerfile
  src/main.ts
  src/modules/common/entities/user-auth.entity.ts
  src/modules/devices/entities/device.entity.ts
Labels: 🗄️ database, ⚙️ config, 🐳 devops:docker, 💥 breaking-change

chore: support docker-compose fallback
  docker/test/compose.sh
  package.json
Labels: 🐳 devops:docker, 📜 devops:scripts, 📦 dependencies

feat(bootstrap): enable shutdown hooks for graceful Redis socket closure
  src/config/redis.config.spec.ts
  src/main.ts
Labels: ⚙️ config, 🧪 tests:unit, 💥 breaking-change, ⚡ performance

feat(bootstrap): enable shutdown hooks for graceful Redis socket closure (#106)
  src/config/redis.config.spec.ts
  src/main.ts
Labels: ⚙️ config, 🧪 tests:unit, 💥 breaking-change, ⚡ performance

feat(bootstrap): enable shutdown hooks for graceful Redis socket closure (#106)
  src/config/redis.config.spec.ts
  src/main.ts
Labels: ⚙️ config, 🧪 tests:unit, 💥 breaking-change, ⚡ performance

feat(signal): re-enable Signal Protocol key rotation scheduler
  package-lock.json
  package.json
  src/modules/signal/controllers/signal-keys-health.controller.spec.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/services/index.ts
  src/modules/signal/services/signal-key-scheduler.service.spec.ts
  src/modules/signal/services/signal-key-scheduler.service.ts
  src/modules/signal/signal.module.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 📦 dependencies, 💥 breaking-change

docs(claude): always request Copilot review after every push
  CLAUDE.md
Labels: 📖 documentation

feat(signal): re-enable Signal Protocol key rotation scheduler (#107)
  CLAUDE.md
  package-lock.json
  package.json
  src/modules/signal/controllers/signal-keys-health.controller.spec.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/services/index.ts
  src/modules/signal/services/signal-key-scheduler.service.spec.ts
  src/modules/signal/services/signal-key-scheduler.service.ts
  src/modules/signal/signal.module.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 📖 documentation, 📦 dependencies, 💥 breaking-change

feat(signal): re-enable Signal Protocol key rotation scheduler (#107)
  CLAUDE.md
  package-lock.json
  package.json
  src/modules/signal/controllers/signal-keys-health.controller.spec.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/services/index.ts
  src/modules/signal/services/signal-key-scheduler.service.spec.ts
  src/modules/signal/services/signal-key-scheduler.service.ts
  src/modules/signal/signal.module.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 📖 documentation, 📦 dependencies, 💥 breaking-change

chore: e2e user flow fixes
  docker/dev/Dockerfile
  src/modules/common/entities/user-auth.entity.ts
  src/modules/devices/entities/device.entity.ts
  src/modules/phone-auth/phone-authentication.module.ts
Labels: 🗄️ database, 🐳 devops:docker, 💥 breaking-change

fix(cd): enable auto-deploy for preprod branches
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(cd): enable auto-deploy for preprod branches (#109)
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(cd): enable auto-deploy for preprod branches (#109)
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

feat(auth): ajout mode bypass OTP pour tests dev/preprod (#104)
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 💥 breaking-change

feat(auth): ajout mode bypass OTP pour tests dev/preprod (#104)
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 💥 breaking-change

fix(migrations): create tables in auth schema instead of public
  src/modules/app/migrations/1700000000000-CreateInitialTables.ts
  src/modules/app/migrations/1741564800000-AddDeviceFingerprintNotNull.ts
  src/modules/app/migrations/1741651200000-FixDeviceFingerprintCompositeUnique.ts
  src/modules/phone-auth/entities/login-history.entity.ts
  src/modules/signal/entities/identity-key.entity.ts
  src/modules/signal/entities/prekey.entity.ts
  src/modules/signal/entities/signed-prekey.entity.ts
  src/modules/two-factor-authentication/entities/backup-code.entity.ts
Labels: 🗄️ database, 💥 breaking-change

feat(migrations): create standalone TypeORM DataSource config for CLI
  package-lock.json
  package.json
  src/migrations/migration.config.ts
Labels: 🗄️ database, ⚙️ config, 📦 dependencies, 💥 breaking-change
