Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

test: address PR review feedback on test assertions
  src/modules/phone-verification/services/rate-limit/rate-limit.service.spec.ts
  src/modules/phone-verification/services/sms/sms.service.spec.ts
  src/modules/phone-verification/strategies/sms-verification.strategy.spec.ts
Labels: ⏱️ security:rate-limit, 🧪 tests:unit, 💥 breaking-change, 🌍 external

test(config): silence NestJS logger output during test runs
  package.json
  src/jest.setup.ts
Labels: 📦 dependencies

test(coverage): add unit tests for SmsService, CacheVerificationRepository, UserAuthService and phone/2fa controllers
  src/modules/common/services/user-auth.service.spec.ts
  src/modules/phone-verification/controllers/phone-verification.controller.spec.ts
  src/modules/phone-verification/repositories/cache-verification.repository.spec.ts
  src/modules/phone-verification/services/sms/sms.service.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change, ⚡ performance, 🌍 external

test: address PR review feedback on test assertions
  src/modules/phone-verification/services/rate-limit/rate-limit.service.spec.ts
  src/modules/phone-verification/services/sms/sms.service.spec.ts
  src/modules/phone-verification/strategies/sms-verification.strategy.spec.ts
Labels: ⏱️ security:rate-limit, 🧪 tests:unit, 💥 breaking-change, 🌍 external

refactor(db): delegate schema bootstrap to TypeORM migrations
  docker/prod/.env.example
  docker/prod/config/init.sql
  documentation/src/how-to/database-migrations.md
  documentation/src/how-to/deployment-production.md
  src/modules/app/migrations/1699999999000-EnablePgcryptoExtension.ts
Labels: 🐳 devops:docker, 📖 documentation, 💥 breaking-change

refactor(db): delegate schema bootstrap to TypeORM migrations
  docker/prod/.env.example
  docker/prod/config/init.sql
  documentation/src/how-to/database-migrations.md
  documentation/src/how-to/deployment-production.md
  src/modules/app/migrations/1699999999000-EnablePgcryptoExtension.ts
Labels: 🐳 devops:docker, 📖 documentation, 💥 breaking-change

feat(health): add Twilio readiness health check
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/health/twilio-health.indicator.spec.ts
  src/modules/health/twilio-health.indicator.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change, 🌍 external

feat(health): add Twilio readiness health check (#118)
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/health/twilio-health.indicator.spec.ts
  src/modules/health/twilio-health.indicator.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change, 🌍 external

feat(health): add Twilio readiness health check (#118)
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/health/twilio-health.indicator.spec.ts
  src/modules/health/twilio-health.indicator.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change, 🌍 external

chore(ci): reduce Discord PR notifications to merge-only
  .github/workflows/discord-pr-notifications.yml
Labels: ⚡ devops:ci-cd

chore(ci): use merged_at as Discord notification timestamp
  .github/workflows/discord-pr-notifications.yml
Labels: ⚡ devops:ci-cd

chore(ci): reduce Discord PR notifications to merge-only (#119)
  .github/workflows/discord-pr-notifications.yml
Labels: ⚡ devops:ci-cd

chore(ci): reduce Discord PR notifications to merge-only (#119)
  .github/workflows/discord-pr-notifications.yml
Labels: ⚡ devops:ci-cd

fix(devices): add migration for missing columns on auth.devices table
  src/modules/app/migrations/1743854400000-AddMissingDeviceColumns.ts
Labels: 💥 breaking-change

fix(devices): combine ALTER TABLE into single statement and make down irreversible
  src/modules/app/migrations/1743854400000-AddMissingDeviceColumns.ts
Labels: 💥 breaking-change

fix(devices): add migration for missing columns on auth.devices table (#120)
  src/modules/app/migrations/1743854400000-AddMissingDeviceColumns.ts
Labels: 💥 breaking-change

fix(devices): add migration for missing columns on auth.devices table (#120)
  src/modules/app/migrations/1743854400000-AddMissingDeviceColumns.ts
Labels: 💥 breaking-change

feat(cache): hot-reload Redis credentials from mounted secret file
  src/config/redis.config.spec.ts
  src/config/redis.config.ts
Labels: ⚙️ config, 🧪 tests:unit, ⚡ performance

fix(cache): address Copilot review comments on Redis hot-reload
  src/config/redis.config.spec.ts
  src/config/redis.config.ts
Labels: ⚙️ config, 🧪 tests:unit, ⚡ performance

test(e2e): replace duplicate assertion with precise save check [WHISPR-540]
  test/registration.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(cache): address second round of Copilot review comments
  src/config/redis.config.spec.ts
  src/config/redis.config.ts
Labels: ⚙️ config, 🧪 tests:unit, ⚡ performance

feat(cache): hot-reload Redis credentials from mounted secret file (#123)
  src/config/redis.config.spec.ts
  src/config/redis.config.ts
Labels: ⚙️ config, 🧪 tests:unit, ⚡ performance

feat(cache): hot-reload Redis credentials from mounted secret file (#123)
  src/config/redis.config.spec.ts
  src/config/redis.config.ts
Labels: ⚙️ config, 🧪 tests:unit, ⚡ performance

fix(cd): update migration-job.yaml image tag alongside deployment
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(cd): update migration-job.yaml image tag alongside deployment (#127)
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(cd): update migration-job.yaml image tag alongside deployment (#127)
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

style(signal): fix prettier formatting in e2e test file
  test/signal.e2e-spec.ts
Labels: 🔬 tests:e2e

test(signal): add e2e tests for health and cleanup endpoints
  test/signal.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(signal): protect cleanup endpoint with JWT auth guard
  src/modules/signal/controllers/signal-keys-health.controller.spec.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  test/signal.e2e-spec.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(health): return 503 on liveness probe when critical deps are down
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

fix(health): make liveness probe process-level only
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

fix(migrations): add device_id column to identity_keys table
  .gitignore
  src/modules/app/migrations/1775396712000-AddDeviceIdToIdentityKeys.ts
Labels: 🗄️ database, 💥 breaking-change

fix(migrations): use TRUNCATE and ACCESS EXCLUSIVE lock for safer migration
  src/modules/app/migrations/1775396712000-AddDeviceIdToIdentityKeys.ts
Labels: 🗄️ database, 💥 breaking-change

fix(migrations): add device_id column to identity_keys table (#128)
  .gitignore
  src/modules/app/migrations/1775396712000-AddDeviceIdToIdentityKeys.ts
Labels: 🗄️ database, 💥 breaking-change

fix(migrations): add device_id column to identity_keys table (#128)
  .gitignore
  src/modules/app/migrations/1775396712000-AddDeviceIdToIdentityKeys.ts
Labels: 🗄️ database, 💥 breaking-change

fix(migrations): add missing columns and constraints to Signal tables
  src/modules/app/migrations/1743940800000-AddMissingSignalColumns.ts
Labels: 💥 breaking-change

fix(migrations): backfill expires_at and make down() irreversible
  src/modules/app/migrations/1743940800000-AddMissingSignalColumns.ts
Labels: 💥 breaking-change

fix(migrations): rename to monotonic ts and fix expires_at backfill
  src/modules/app/migrations/1775396713000-AddMissingSignalColumns.ts
Labels: 💥 breaking-change

fix(migrations): deduplicate prekeys before adding unique constraints
  src/modules/app/migrations/1775396713000-AddMissingSignalColumns.ts
Labels: 💥 breaking-change

fix(migrations): use ROW_NUMBER dedup and column-set unique guards
  src/modules/app/migrations/1775396713000-AddMissingSignalColumns.ts
Labels: 💥 breaking-change

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'
