Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'

rename: improve API endpoints naming
  src/modules/authentication/auth.controller.ts
  src/modules/devices/quick-response-code/quick-response-code.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

fix(app-e2e): wrong import path
  .husky/pre-push
  test/app.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(app-e2e): wrong import path
  .husky/pre-push
  test/app.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(app-e2e): wrong import path
  .husky/pre-push
  test/app.e2e-spec.ts
Labels: 🔬 tests:e2e

scripts(husky): improve pre-push hook
  .husky/pre-push
Labels: none

scripts(husky): improve pre-push hook
  .husky/pre-push
Labels: none

scripts(husky): improve pre-push hook
  .husky/pre-push
Labels: none

🔧 fix(sms): use TWILIO_FROM_NUMBER instead of TWILIO_PHONE_NUMBER
  src/modules/phone-verification/services/sms/sms.service.ts
Labels: 💥 breaking-change, 🌍 external

🔧 fix(sms): use TWILIO_FROM_NUMBER instead of TWILIO_PHONE_NUMBER
  src/modules/phone-verification/services/sms/sms.service.ts
Labels: 💥 breaking-change, 🌍 external

🔧 fix(sms): use TWILIO_FROM_NUMBER instead of TWILIO_PHONE_NUMBER
  src/modules/phone-verification/services/sms/sms.service.ts
Labels: 💥 breaking-change, 🌍 external

docs: setup mdbook on github pages
  .github/workflows/documentation.yml
  Justfile
  docker/doc/compose.yml
  documentation/.gitignore
  documentation/book.toml
  documentation/src/1_architecture/1_system_design.md
  documentation/src/1_architecture/2_database_design.md
  documentation/src/1_architecture/3_security_policy.md
  documentation/src/1_architecture/README.md
  documentation/src/2_fonctional_specs/1_authentication.md
  documentation/src/2_fonctional_specs/2_two_factor_auth.md
  documentation/src/2_fonctional_specs/3_devices_management.md
  documentation/src/2_fonctional_specs/4_encryption_end_to_end.md
  documentation/src/2_fonctional_specs/5_guide_conversion_jira.md
  documentation/src/2_fonctional_specs/README.md
  documentation/src/3_technical_specs/1_authentication.md
  documentation/src/3_technical_specs/2_implementation_guide.md
  documentation/src/3_technical_specs/README.md
  documentation/src/4_exploitation/README.md
  documentation/src/5_integration/README.md
  documentation/src/6_governance/1_architectural_decisions_records/1_denormalize_user_data_between_services
  documentation/src/6_governance/README.md
  documentation/src/DEPLOYMENT.md
  documentation/src/DEVELOPMENT.md
  documentation/src/DISCORD_NOTIFICATIONS.md
  documentation/src/INTEGRATION.md
  documentation/src/LABELS.md
  documentation/src/MIGRATION.md
  documentation/src/PRODUCTION.md
  documentation/src/README.production.md
  documentation/src/SONARQUBE_SETUP.md
  documentation/src/SUMMARY.md
  documentation/src/TEST_REPORT.md
  documentation/src/kubernetes.md
Labels: 🐳 devops:docker, ⚡ devops:ci-cd, 📖 documentation

docs: setup mdbook on github pages
  .github/workflows/documentation.yml
  Justfile
  docker/doc/compose.yml
  documentation/.gitignore
  documentation/book.toml
  documentation/src/1_architecture/1_system_design.md
  documentation/src/1_architecture/2_database_design.md
  documentation/src/1_architecture/3_security_policy.md
  documentation/src/1_architecture/README.md
  documentation/src/2_fonctional_specs/1_authentication.md
  documentation/src/2_fonctional_specs/2_two_factor_auth.md
  documentation/src/2_fonctional_specs/3_devices_management.md
  documentation/src/2_fonctional_specs/4_encryption_end_to_end.md
  documentation/src/2_fonctional_specs/5_guide_conversion_jira.md
  documentation/src/2_fonctional_specs/README.md
  documentation/src/3_technical_specs/1_authentication.md
  documentation/src/3_technical_specs/2_implementation_guide.md
  documentation/src/3_technical_specs/README.md
  documentation/src/4_exploitation/README.md
  documentation/src/5_integration/README.md
  documentation/src/6_governance/1_architectural_decisions_records/1_denormalize_user_data_between_services
  documentation/src/6_governance/README.md
  documentation/src/DEPLOYMENT.md
  documentation/src/DEVELOPMENT.md
  documentation/src/DISCORD_NOTIFICATIONS.md
  documentation/src/INTEGRATION.md
  documentation/src/LABELS.md
  documentation/src/MIGRATION.md
  documentation/src/PRODUCTION.md
  documentation/src/README.production.md
  documentation/src/SONARQUBE_SETUP.md
  documentation/src/SUMMARY.md
  documentation/src/TEST_REPORT.md
  documentation/src/kubernetes.md
Labels: 🐳 devops:docker, ⚡ devops:ci-cd, 📖 documentation

docs: setup mdbook on github pages
  .github/workflows/documentation.yml
  Justfile
  docker/doc/compose.yml
  documentation/.gitignore
  documentation/book.toml
  documentation/src/1_architecture/1_system_design.md
  documentation/src/1_architecture/2_database_design.md
  documentation/src/1_architecture/3_security_policy.md
  documentation/src/1_architecture/README.md
  documentation/src/2_fonctional_specs/1_authentication.md
  documentation/src/2_fonctional_specs/2_two_factor_auth.md
  documentation/src/2_fonctional_specs/3_devices_management.md
  documentation/src/2_fonctional_specs/4_encryption_end_to_end.md
  documentation/src/2_fonctional_specs/5_guide_conversion_jira.md
  documentation/src/2_fonctional_specs/README.md
  documentation/src/3_technical_specs/1_authentication.md
  documentation/src/3_technical_specs/2_implementation_guide.md
  documentation/src/3_technical_specs/README.md
  documentation/src/4_exploitation/README.md
  documentation/src/5_integration/README.md
  documentation/src/6_governance/1_architectural_decisions_records/1_denormalize_user_data_between_services
  documentation/src/6_governance/README.md
  documentation/src/DEPLOYMENT.md
  documentation/src/DEVELOPMENT.md
  documentation/src/DISCORD_NOTIFICATIONS.md
  documentation/src/INTEGRATION.md
  documentation/src/LABELS.md
  documentation/src/MIGRATION.md
  documentation/src/PRODUCTION.md
  documentation/src/README.production.md
  documentation/src/SONARQUBE_SETUP.md
  documentation/src/SUMMARY.md
  documentation/src/TEST_REPORT.md
  documentation/src/kubernetes.md
Labels: 🐳 devops:docker, ⚡ devops:ci-cd, 📖 documentation

docs: add the mermaidjs pre-processor
  documentation/book.toml
  documentation/mermaid-init.js
  documentation/mermaid.min.js
Labels: 📖 documentation

docs: add the mermaidjs pre-processor
  documentation/book.toml
  documentation/mermaid-init.js
  documentation/mermaid.min.js
Labels: 📖 documentation

docs: add the mermaidjs pre-processor
  documentation/book.toml
  documentation/mermaid-init.js
  documentation/mermaid.min.js
Labels: 📖 documentation

hotfix: install missing mdbook-mermaid in doc CI
  .github/workflows/documentation.yml
Labels: ⚡ devops:ci-cd

hotfix: install missing mdbook-mermaid in doc CI
  .github/workflows/documentation.yml
Labels: ⚡ devops:ci-cd

hotfix: install missing mdbook-mermaid in doc CI
  .github/workflows/documentation.yml
Labels: ⚡ devops:ci-cd

remove: unused files
  .github/templates/grype-html.tmpl
  AGENTS.md
  scripts/deploy.sh
  scripts/setup-labels.sh
  scripts/start.sh
  tsconfig.doc.json
  tsconfig.jsonc
Labels: ⚙️ config, 📜 devops:scripts, 📖 documentation, 🔒 tools:security

remove: unused files
  .github/templates/grype-html.tmpl
  AGENTS.md
  scripts/deploy.sh
  scripts/setup-labels.sh
  scripts/start.sh
  tsconfig.doc.json
  tsconfig.jsonc
Labels: ⚙️ config, 📜 devops:scripts, 📖 documentation, 🔒 tools:security

remove: unused files
  .github/templates/grype-html.tmpl
  AGENTS.md
  scripts/deploy.sh
  scripts/setup-labels.sh
  scripts/start.sh
  tsconfig.doc.json
  tsconfig.jsonc
Labels: ⚙️ config, 📜 devops:scripts, 📖 documentation, 🔒 tools:security

Update README with additional resource links
  README.md
Labels: 📖 documentation

Update README with additional resource links
  README.md
Labels: 📖 documentation

Update README with additional resource links
  README.md
Labels: 📖 documentation

deps: fix missing python3 binary in developement
  docker/dev/requirements.txt
Labels: 🐳 devops:docker

deps: fix missing python3 binary in developement
  docker/dev/requirements.txt
Labels: 🐳 devops:docker

deps: fix missing python3 binary in developement
  docker/dev/requirements.txt
Labels: 🐳 devops:docker

feat(PhoneVerification): add a demo mode to send the verification code in the response payload
  src/docker/check-env.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/phone-verification/services/sms/sms.service.ts
  src/modules/phone-verification/types/verification-purpose.type.ts
  src/modules/phone-verification/types/verification-request-response.interface.ts
Labels: 🎮 api:controllers, 📋 api:dto, 💥 breaking-change, 🌍 external

feat(PhoneVerification): add a demo mode to send the verification code in the response payload
  src/docker/check-env.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/phone-verification/services/sms/sms.service.ts
  src/modules/phone-verification/types/verification-purpose.type.ts
  src/modules/phone-verification/types/verification-request-response.interface.ts
Labels: 🎮 api:controllers, 📋 api:dto, 💥 breaking-change, 🌍 external

feat(PhoneVerification): add a demo mode to send the verification code in the response payload
  src/docker/check-env.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/phone-verification/services/sms/sms.service.ts
  src/modules/phone-verification/types/verification-purpose.type.ts
  src/modules/phone-verification/types/verification-request-response.interface.ts
Labels: 🎮 api:controllers, 📋 api:dto, 💥 breaking-change, 🌍 external

refactor(PhoneVerification): update the verification id caching logic
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/phone-verification/types/verification-code.interface.ts
Labels: 📋 api:dto, 💥 breaking-change

refactor(PhoneVerification): update the verification id caching logic
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/phone-verification/types/verification-code.interface.ts
Labels: 📋 api:dto, 💥 breaking-change

refactor(PhoneVerification): update the verification id caching logic
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/phone-verification/types/verification-code.interface.ts
Labels: 📋 api:dto, 💥 breaking-change

tests(e2e): Add full test suite for the registration flow
  test/registration.e2e-spec.ts
Labels: 🔬 tests:e2e

tests(e2e): Add full test suite for the registration flow
  test/registration.e2e-spec.ts
Labels: 🔬 tests:e2e

tests(e2e): Add full test suite for the registration flow
  test/registration.e2e-spec.ts
Labels: 🔬 tests:e2e

chore(cd): update pipeline to target infrastructure repository
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

chore(cd): update pipeline to target infrastructure repository
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

chore(cd): update pipeline to target infrastructure repository
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd
