Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

test(health): replace toBeDefined with concrete assertions [WHISPR-536] (#136)
  test/app.e2e-spec.ts
Labels: 🔬 tests:e2e

test(health): replace toBeDefined with concrete assertions [WHISPR-536] (#136)
  test/app.e2e-spec.ts
Labels: 🔬 tests:e2e

test(e2e): add E2E tests for devices, qr-code, and signal keys [WHISPR-530] (#137)
  test/devices.e2e-spec.ts
  test/qr-code.e2e-spec.ts
  test/signal-keys.e2e-spec.ts
Labels: 🔬 tests:e2e

test(e2e): add E2E tests for devices, qr-code, and signal keys [WHISPR-530] (#137)
  test/devices.e2e-spec.ts
  test/qr-code.e2e-spec.ts
  test/signal-keys.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(migrations): avoid name[] cast in constraints
  src/modules/app/migrations/1775396713000-AddMissingSignalColumns.ts
Labels: 💥 breaking-change

chore: update lockfile
  package-lock.json
Labels: 📦 dependencies

fix(auth): skip jwks throttling + disable otp rate limit in demo
  src/modules/jwks/jwks.controller.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 🎮 api:controllers, 💥 breaking-change

fix(two-factor-authentication): generate backup codes on enable, not setup
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(two-factor-authentication): generate backup codes on enable, not setup (#142)
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(two-factor-authentication): generate backup codes on enable, not setup (#142)
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

feat(two-factor-authentication): persist pending secret server-side during 2FA setup
  src/modules/app/migrations/1775396714000-AddTwoFactorPendingSecret.ts
  src/modules/common/entities/user-auth.entity.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/dto/two-factor-setup.dto.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🗄️ database, 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(two-factor-authentication): add twoFactorPendingSecret to UserAuth mock in qr-code spec
  src/modules/devices/quick-response-code/services/quick-response-code.service.spec.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(two-factor-authentication): update swagger 400 description and add migration name property
  src/modules/app/migrations/1775396714000-AddTwoFactorPendingSecret.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

feat(two-factor-authentication): persist pending secret server-side during 2FA setup (#143)
  src/modules/app/migrations/1775396714000-AddTwoFactorPendingSecret.ts
  src/modules/common/entities/user-auth.entity.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/dto/two-factor-setup.dto.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🗄️ database, 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

feat(two-factor-authentication): persist pending secret server-side during 2FA setup (#143)
  src/modules/app/migrations/1775396714000-AddTwoFactorPendingSecret.ts
  src/modules/common/entities/user-auth.entity.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/dto/two-factor-setup.dto.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🗄️ database, 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(two-factor-authentication): reuse existing pending secret on repeated setup calls
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

test(two-factor-authentication): fix e2e setup test to properly emulate two-call flow
  test/two-factor-authentication.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(auth): configure redis client auth/db for user.registered events
  src/modules/phone-auth/phone-authentication.module.ts
Labels: 💥 breaking-change

fix(two-factor-authentication): normalize otpauth URL generation via speakeasy.otpauthURL
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(two-factor-authentication): reuse existing pending secret on repeated setup calls (#144)
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(two-factor-authentication): reuse existing pending secret on repeated setup calls (#144)
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(auth): disable otp hourly rate limit when demo/bypass active
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 💥 breaking-change

feat(two-factor-authentication): expose secret and otpauthUri in setup response
  package-lock.json
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/dto/index.ts
  src/modules/two-factor-authentication/dto/two-factor-setup-response.dto.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
Labels: 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 📦 dependencies, 💥 breaking-change

test(two-factor-authentication): update setup test to expect secret and otpauthUri
  test/two-factor-authentication.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(auth): skip throttling on otp verify endpoints
  src/modules/phone-verification/controllers/phone-verification.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

fix(auth): skip throttling for health endpoints
  src/modules/health/health.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

chore(dev): use npm install in dev Dockerfile
  docker/dev/Dockerfile
Labels: 🐳 devops:docker

docs(two-factor-authentication): align setup endpoint Swagger status to 201 and mention otpauthUri
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

chore(deps): sync package-lock.json with package.json
  package-lock.json
Labels: 📦 dependencies

fix(two-factor-authentication): remove phone number from otpauthUri label and update test description
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🔬 tests:e2e, 💥 breaking-change

docs(two-factor-authentication): remove PII from Swagger example and update service spec description
  src/modules/two-factor-authentication/dto/two-factor-setup-response.dto.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
Labels: 📋 api:dto, 🧪 tests:unit, 💥 breaking-change

feat(two-factor-authentication): expose secret and otpauthUri in setup response (#147)
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/dto/index.ts
  src/modules/two-factor-authentication/dto/two-factor-setup-response.dto.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

feat(two-factor-authentication): expose secret and otpauthUri in setup response (#147)
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/dto/index.ts
  src/modules/two-factor-authentication/dto/two-factor-setup-response.dto.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

docs(two-factor-authentication): add typed Swagger response DTOs for enable and backup-codes endpoints
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/dto/index.ts
  src/modules/two-factor-authentication/dto/two-factor-enable-response.dto.ts
Labels: 🎮 api:controllers, 📋 api:dto, 💥 breaking-change

docs(two-factor-authentication): address Copilot review feedback
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/dto/index.ts
  src/modules/two-factor-authentication/dto/two-factor-backup-codes-response.dto.ts
Labels: 🎮 api:controllers, 📋 api:dto, 💥 breaking-change

docs(two-factor-authentication): add typed Swagger response DTOs for enable and backup-codes endpoints (#148)
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/dto/index.ts
  src/modules/two-factor-authentication/dto/two-factor-backup-codes-response.dto.ts
Labels: 🎮 api:controllers, 📋 api:dto, 💥 breaking-change

docs(two-factor-authentication): add typed Swagger response DTOs for enable and backup-codes endpoints (#148)
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/dto/index.ts
  src/modules/two-factor-authentication/dto/two-factor-backup-codes-response.dto.ts
Labels: 🎮 api:controllers, 📋 api:dto, 💥 breaking-change

feat(phone-auth): add Redis pub/sub event logging for user.registered
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(phone-auth): await user.registered emit completion
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

feat(phone-auth): add Redis pub/sub event logging for user.registered (#145)
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'
