Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

test(phone-verification): add OTP cross-device impersonation e2e tests
  test/otp-device-binding.e2e-spec.ts
Labels: 🔬 tests:e2e

test(phone-verification): add OTP cross-device impersonation e2e tests
  test/otp-device-binding.e2e-spec.ts
Labels: 🔬 tests:e2e

test(phone-verification): cover IP rate-limit branch and device binding mismatch
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
Labels: 🧪 tests:unit, 💥 breaking-change

test(phone-verification): cover IP rate-limit branch and device binding mismatch
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
Labels: 🧪 tests:unit, 💥 breaking-change

feat(2fa): endpoint de rotation des backup codes et compteur restant — Closes WHISPR-1052
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

feat(2fa): endpoint de rotation des backup codes et compteur restant — Closes WHISPR-1052
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

feat(auth): rate limiting adaptatif sur échecs login/verification — Closes WHISPR-1054
  src/modules/adaptive-rate-limit/adaptive-rate-limit.interceptor.spec.ts
  src/modules/adaptive-rate-limit/adaptive-rate-limit.interceptor.ts
  src/modules/adaptive-rate-limit/adaptive-rate-limit.module.ts
  src/modules/adaptive-rate-limit/adaptive-rate-limit.service.spec.ts
  src/modules/adaptive-rate-limit/adaptive-rate-limit.service.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.spec.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/phone-verification/controllers/phone-verification.controller.spec.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
  src/modules/phone-verification/phone-verification.module.ts
Labels: 🎮 api:controllers, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 💥 breaking-change

feat(auth): rate limiting adaptatif sur échecs login/verification — Closes WHISPR-1054
  src/modules/adaptive-rate-limit/adaptive-rate-limit.interceptor.spec.ts
  src/modules/adaptive-rate-limit/adaptive-rate-limit.interceptor.ts
  src/modules/adaptive-rate-limit/adaptive-rate-limit.module.ts
  src/modules/adaptive-rate-limit/adaptive-rate-limit.service.spec.ts
  src/modules/adaptive-rate-limit/adaptive-rate-limit.service.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.spec.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/phone-verification/controllers/phone-verification.controller.spec.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
  src/modules/phone-verification/phone-verification.module.ts
Labels: 🎮 api:controllers, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 💥 breaking-change

feat(logs): logger JSON structuré via LOG_FORMAT=json — WHISPR-1068
  src/interceptors/logging.interceptor.spec.ts
  src/interceptors/logging.interceptor.ts
  src/main.ts
  src/utils/json-logger.spec.ts
  src/utils/json-logger.ts
Labels: ⚙️ config, 🔄 middleware, 🧪 tests:unit, 💥 breaking-change, ⚡ performance

feat(logs): logger JSON structuré via LOG_FORMAT=json — WHISPR-1068
  src/interceptors/logging.interceptor.spec.ts
  src/interceptors/logging.interceptor.ts
  src/main.ts
  src/utils/json-logger.spec.ts
  src/utils/json-logger.ts
Labels: ⚙️ config, 🔄 middleware, 🧪 tests:unit, 💥 breaking-change, ⚡ performance

correction des vrais paths API auth
  docs/api-endpoints.md
Labels: 📖 documentation

correction des vrais paths API auth
  docs/api-endpoints.md
Labels: 📖 documentation

correction endpoints 2FA avec les vrais paths
  docs/two-factor-auth.md
Labels: 📖 documentation

correction endpoints 2FA avec les vrais paths
  docs/two-factor-auth.md
Labels: 📖 documentation

ajout vrais endpoints Signal Protocol
  docs/signal-protocol.md
Labels: 📖 documentation

ajout vrais endpoints Signal Protocol
  docs/signal-protocol.md
Labels: 📖 documentation

correction paths rate limiting
  docs/rate-limiting.md
Labels: 📖 documentation

correction paths rate limiting
  docs/rate-limiting.md
Labels: 📖 documentation

ajout endpoints devices et QR code
  docs/device-management.md
Labels: 📖 documentation

ajout endpoints devices et QR code
  docs/device-management.md
Labels: 📖 documentation

feat(ip): trust nginx ingress proxy for correct req.ip
  src/main.ts
Labels: ⚙️ config, 💥 breaking-change

feat(ip): trust nginx ingress proxy for correct req.ip
  src/main.ts
Labels: ⚙️ config, 💥 breaking-change

fix(qr-code): verify challenge deviceId belongs to authenticated user
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.spec.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.spec.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

fix(qr-code): verify challenge deviceId belongs to authenticated user
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.spec.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.spec.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

fix(devices): revoke tokens for a device when the user removes it
  src/modules/devices/services/devices.service.spec.ts
  src/modules/devices/services/devices.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(devices): revoke tokens for a device when the user removes it
  src/modules/devices/services/devices.service.spec.ts
  src/modules/devices/services/devices.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(2fa): accept backup codes on verify/disable and restrict setup TOTP to 6 digits
  src/modules/two-factor-authentication/dto/two-factor-setup.dto.ts
  src/modules/two-factor-authentication/dto/two-factor-verify.dto.ts
Labels: 📋 api:dto, 💥 breaking-change

fix(2fa): accept backup codes on verify/disable and restrict setup TOTP to 6 digits
  src/modules/two-factor-authentication/dto/two-factor-setup.dto.ts
  src/modules/two-factor-authentication/dto/two-factor-verify.dto.ts
Labels: 📋 api:dto, 💥 breaking-change

fix(rate-limit): use Redis INCR for atomic counter updates
  src/modules/phone-verification/services/rate-limit/rate-limit.service.spec.ts
  src/modules/phone-verification/services/rate-limit/rate-limit.service.ts
Labels: ⏱️ security:rate-limit, 🧪 tests:unit, 💥 breaking-change

fix(rate-limit): use Redis INCR for atomic counter updates
  src/modules/phone-verification/services/rate-limit/rate-limit.service.spec.ts
  src/modules/phone-verification/services/rate-limit/rate-limit.service.ts
Labels: ⏱️ security:rate-limit, 🧪 tests:unit, 💥 breaking-change

fix(2fa): return false instead of throwing when user has zero unused backup codes
  src/modules/two-factor-authentication/backup-codes/backup-codes.service.spec.ts
  src/modules/two-factor-authentication/backup-codes/backup-codes.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(2fa): return false instead of throwing when user has zero unused backup codes
  src/modules/two-factor-authentication/backup-codes/backup-codes.service.spec.ts
  src/modules/two-factor-authentication/backup-codes/backup-codes.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(dto): bound string fields and enforce numeric OTP codes
  src/modules/devices/quick-response-code/dto/scan-login.dto.ts
  src/modules/phone-auth/dto/base-auth.dto.ts
  src/modules/phone-verification/dto/verification-confirm.dto.ts
  src/modules/phone-verification/dto/verification-request.dto.ts
Labels: 📋 api:dto, 💥 breaking-change

fix(dto): bound string fields and enforce numeric OTP codes
  src/modules/devices/quick-response-code/dto/scan-login.dto.ts
  src/modules/phone-auth/dto/base-auth.dto.ts
  src/modules/phone-verification/dto/verification-confirm.dto.ts
  src/modules/phone-verification/dto/verification-request.dto.ts
Labels: 📋 api:dto, 💥 breaking-change

refactor(signal): drop dead thirtyDaysAgo variable in rotateSignedPreKey
  src/modules/signal/services/signal-key-rotation.service.ts
Labels: 💥 breaking-change

refactor(signal): drop dead thirtyDaysAgo variable in rotateSignedPreKey
  src/modules/signal/services/signal-key-rotation.service.ts
Labels: 💥 breaking-change

test(cache): extend mock CacheService with incr/expire/pipeline
  test/helpers/create-test-module.ts
Labels: 🔬 tests:e2e

test(cache): extend mock CacheService with incr/expire/pipeline
  test/helpers/create-test-module.ts
Labels: 🔬 tests:e2e

test(2fa): expect generic invalid verification code on missing backup codes
  test/two-factor-authentication.e2e-spec.ts
Labels: 🔬 tests:e2e

test(2fa): expect generic invalid verification code on missing backup codes
  test/two-factor-authentication.e2e-spec.ts
Labels: 🔬 tests:e2e

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'
