Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

test( check-env.ts ): unit tests for the docker script
  src/docker/check-env.spec.ts
Labels: 🧪 tests:unit

fix: commenting sonarqube for deployment test purposes
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

fix: commenting sonarqube for deployment test purposes
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

fix: commenting sonarqube for deployment test purposes
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

config: rollback tsconfig naming to json
  eslint.config.js
  tsconfig.json
Labels: ⚙️ config

config: rollback tsconfig naming to json
  eslint.config.js
  tsconfig.json
Labels: ⚙️ config

config: rollback tsconfig naming to json
  eslint.config.js
  tsconfig.json
Labels: ⚙️ config

test( health-check ): add unit tests for the docker healthcheck script
  src/docker/health-check.spec.ts
Labels: 🧪 tests:unit

test( health-check ): add unit tests for the docker healthcheck script
  src/docker/health-check.spec.ts
Labels: 🧪 tests:unit

test( health-check ): add unit tests for the docker healthcheck script
  src/docker/health-check.spec.ts
Labels: 🧪 tests:unit

test: unit test the docker entrypoint.ts script
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
Labels: 🧪 tests:unit

test: unit test the docker entrypoint.ts script
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
Labels: 🧪 tests:unit

test: unit test the docker entrypoint.ts script
  src/docker/entrypoint.spec.ts
  src/docker/entrypoint.ts
Labels: 🧪 tests:unit

config(sonarqube): Ignore the DTOs, interfaces and migrations file
  sonar-project.properties
Labels: 🔒 tools:security

config(sonarqube): Ignore the DTOs, interfaces and migrations file
  sonar-project.properties
Labels: 🔒 tools:security

config(sonarqube): Ignore the DTOs, interfaces and migrations file
  sonar-project.properties
Labels: 🔒 tools:security

remove(app.module): app.controller
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

remove(app.module): app.controller
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

remove(app.module): app.controller
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

refactor: add further cleaning in app.module
  src/app.module.ts
Labels: ⚙️ config, 💥 breaking-change

refactor: add further cleaning in app.module
  src/app.module.ts
Labels: ⚙️ config, 💥 breaking-change

refactor: add further cleaning in app.module
  src/app.module.ts
Labels: ⚙️ config, 💥 breaking-change

fix: CD app actions to commit and push
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix: CD app actions to commit and push
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix: CD app actions to commit and push
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix: wrong .dockerignore configuration for dev container build
  .dockerignore
Labels: 🐳 devops:docker

fix: wrong .dockerignore configuration for dev container build
  .dockerignore
Labels: 🐳 devops:docker

fix: wrong .dockerignore configuration for dev container build
  .dockerignore
Labels: 🐳 devops:docker

remove: unused files
  .env.example
  .env.test
  ecosystem.config.js
Labels: ⚙️ config

remove: unused files
  .env.example
  .env.test
  ecosystem.config.js
Labels: ⚙️ config

remove: unused files
  .env.example
  .env.test
  ecosystem.config.js
Labels: ⚙️ config

scripts: add build flag to docker dev compose
  Justfile
Labels: none

scripts: add build flag to docker dev compose
  Justfile
Labels: none

scripts: add build flag to docker dev compose
  Justfile
Labels: none

fix: CD app actions to commit and push
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix: CD app actions to commit and push
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix: CD app actions to commit and push
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

deploy: allow manual trigger of the CD
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

deploy: allow manual trigger of the CD
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

deploy: allow manual trigger of the CD
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'
