Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

chore: remove local k8s manifests (now in infrastructure repo)
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/service-account.yaml
  k8s/service.yaml
Labels: none

chore: remove local k8s manifests (now in infrastructure repo)
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/service-account.yaml
  k8s/service.yaml
Labels: none

chore: remove local k8s manifests (now in infrastructure repo)
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/service-account.yaml
  k8s/service.yaml
Labels: none

feat: support authenticated Redis connections with Vault credentials
  src/modules/app/cache.ts
Labels: 💥 breaking-change, ⚡ performance

feat: support authenticated Redis connections with Vault credentials
  src/modules/app/cache.ts
Labels: 💥 breaking-change, ⚡ performance

feat: support authenticated Redis connections with Vault credentials
  src/modules/app/cache.ts
Labels: 💥 breaking-change, ⚡ performance

docs: Update service links in README.md
  README.md
Labels: 📖 documentation

docs: Update service links in README.md
  README.md
Labels: 📖 documentation

docs: Update service links in README.md
  README.md
Labels: 📖 documentation

feat(cache): migrate from @keyv/redis to ioredis with Sentinel support
  package-lock.json
  package.json
  src/cache/cache.module.ts
  src/cache/cache.service.ts
  src/cache/index.ts
  src/config/redis.config.ts
  src/modules/app/app.module.ts
  src/modules/app/cache.ts
  src/modules/authentication/auth.module.ts
  src/modules/devices/quick-response-code/quick-response-code.service.ts
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/tokens.module.ts
  test/app.e2e-spec.ts
  test/registration.e2e-spec.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 📦 dependencies, 💥 breaking-change, ⚡ performance

feat(cache): migrate from @keyv/redis to ioredis with Sentinel support
  package-lock.json
  package.json
  src/cache/cache.module.ts
  src/cache/cache.service.ts
  src/cache/index.ts
  src/config/redis.config.ts
  src/modules/app/app.module.ts
  src/modules/app/cache.ts
  src/modules/authentication/auth.module.ts
  src/modules/devices/quick-response-code/quick-response-code.service.ts
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/tokens.module.ts
  test/app.e2e-spec.ts
  test/registration.e2e-spec.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 📦 dependencies, 💥 breaking-change, ⚡ performance

feat(cache): migrate from @keyv/redis to ioredis with Sentinel support
  package-lock.json
  package.json
  src/cache/cache.module.ts
  src/cache/cache.service.ts
  src/cache/index.ts
  src/config/redis.config.ts
  src/modules/app/app.module.ts
  src/modules/app/cache.ts
  src/modules/authentication/auth.module.ts
  src/modules/devices/quick-response-code/quick-response-code.service.ts
  src/modules/health/health.controller.ts
  src/modules/health/health.module.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/tokens.module.ts
  test/app.e2e-spec.ts
  test/registration.e2e-spec.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 📦 dependencies, 💥 breaking-change, ⚡ performance

fix: update CD workflow path to the k8s manifests
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix: update CD workflow path to the k8s manifests
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix: update CD workflow path to the k8s manifests
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix: e2e tests
  test/app.e2e-spec.ts
  test/setup-e2e.ts
Labels: 🔬 tests:e2e

fix: e2e tests
  test/app.e2e-spec.ts
  test/setup-e2e.ts
Labels: 🔬 tests:e2e

fix: e2e tests
  test/app.e2e-spec.ts
  test/setup-e2e.ts
Labels: 🔬 tests:e2e

docs: add bug report for Redis Sentinel support and silent health check
  documentation/src/7_bug_reports/2026-02-19-auth-service-no-sentinel-support-and-silent-health.md
  documentation/src/SUMMARY.md
Labels: 📖 documentation

docs: add bug report for Redis Sentinel support and silent health check
  documentation/src/7_bug_reports/2026-02-19-auth-service-no-sentinel-support-and-silent-health.md
  documentation/src/SUMMARY.md
Labels: 📖 documentation

docs: add bug report for Redis Sentinel support and silent health check
  documentation/src/7_bug_reports/2026-02-19-auth-service-no-sentinel-support-and-silent-health.md
  documentation/src/SUMMARY.md
Labels: 📖 documentation

fix(swagger): set production server as default and update URL to whispr.epitech.beer
  src/swagger.ts
Labels: none

fix(swagger): set production server as default and update URL to whispr.epitech.beer
  src/swagger.ts
Labels: none

fix(swagger): set production server as default and update URL to whispr.epitech.beer
  src/swagger.ts
Labels: none

fix: update cache module imports after path change
  src/modules/devices/quick-response-code/quick-response-code.service.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  test/app.e2e-spec.ts
  test/registration.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix: update cache module imports after path change
  src/modules/devices/quick-response-code/quick-response-code.service.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  test/app.e2e-spec.ts
  test/registration.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix: update cache module imports after path change
  src/modules/devices/quick-response-code/quick-response-code.service.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  test/app.e2e-spec.ts
  test/registration.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix: correct RedisConfig imports in cache module
  src/modules/cache/cache.module.ts
  src/modules/cache/cache.service.ts
Labels: 💥 breaking-change, ⚡ performance

fix: correct RedisConfig imports in cache module
  src/modules/cache/cache.module.ts
  src/modules/cache/cache.service.ts
Labels: 💥 breaking-change, ⚡ performance

fix: correct RedisConfig imports in cache module
  src/modules/cache/cache.module.ts
  src/modules/cache/cache.service.ts
Labels: 💥 breaking-change, ⚡ performance

fix: update health controller cache import
  src/modules/health/health.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

fix: update health controller cache import
  src/modules/health/health.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

fix: update health controller cache import
  src/modules/health/health.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

task: start Docker containers for migration
  MIGRATION_PLAN.md
Labels: 📖 documentation

feat(migration): complete Phase 1 - CommonModule
  src/grpc/auth.grpc.service.ts
  src/modules/app/typeorm.ts
  src/modules/authentication/auth.module.ts
  src/modules/authentication/entities/backup-code.entity.ts
  src/modules/authentication/entities/identity-key.entity.ts
  src/modules/authentication/entities/login-history.entity.ts
  src/modules/authentication/entities/prekey.entity.ts
  src/modules/authentication/entities/signed-prekey.entity.ts
  src/modules/authentication/services/auth.service.ts
  src/modules/authentication/services/notification.service.ts
  src/modules/common/common.module.ts
  src/modules/common/entities/user-auth.entity.ts
  src/modules/common/services/user-auth.service.ts
  src/modules/devices/device.entity.ts
  src/modules/devices/devices.module.ts
  src/modules/devices/quick-response-code/quick-response-code.service.ts
  src/modules/phone-verification/phone-verification.module.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/tokens.backup/controllers/tokens.controller.spec.ts
  src/modules/tokens.backup/controllers/tokens.controller.ts
  src/modules/tokens.backup/dto/refresh-token.dto.ts
  src/modules/tokens.backup/services/tokens.service.spec.ts
  src/modules/tokens.backup/services/tokens.service.ts
  src/modules/tokens.backup/tokens.module.ts
  src/modules/tokens.backup/types/jwt-payload.interface.ts
  src/modules/tokens.backup/types/token-pair.interface.ts
  src/modules/two-factor-authentication/two-factor-authentication.module.ts
  src/modules/two-factor-authentication/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/two-factor-authentication.service.ts
  src/swagger.ts
Labels: 🗄️ database, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🧪 tests:unit, 💥 breaking-change, 🌍 external

feat(migration): complete Phase 4 - Authentication Modules
  package-lock.json
  package.json
  src/modules/app/app.module.ts
  src/modules/app/typeorm.ts
  src/modules/authentication/auth.module.ts
  src/modules/phone-auth/config/jwt.config.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/phone-auth/dto/index.ts
  src/modules/phone-auth/dto/login-response.dto.ts
  src/modules/phone-auth/dto/login.dto.ts
  src/modules/phone-auth/dto/logout.dto.ts
  src/modules/phone-auth/dto/register-response.dto.ts
  src/modules/phone-auth/dto/register.dto.ts
  src/modules/phone-auth/dto/signal-keys.dto.ts
  src/modules/phone-auth/interfaces/device-info.interface.ts
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/phone-auth/services/index.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/tokens/guards/index.ts
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/tokens.module.ts
  src/modules/two-factor-authentication/backup-codes/backup-codes.service.spec.ts
  src/modules/two-factor-authentication/backup-codes/backup-codes.service.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/dto/index.ts
  src/modules/two-factor-authentication/dto/two-factor-setup.dto.ts
  src/modules/two-factor-authentication/dto/two-factor-verify.dto.ts
  src/modules/two-factor-authentication/entities/backup-code.entity.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  src/modules/two-factor-authentication/two-factor-authentication.module.ts
  src/shared/events/index.ts
Labels: 🗄️ database, ⚙️ config, 🎮 api:controllers, 📋 api:dto, 🛡️ security:guards, 🧪 tests:unit, 📦 dependencies, 💥 breaking-change

feat(migration): complete Phase 5 - Root AuthModule
  src/grpc/auth.grpc.service.ts
  src/modules/app/app.module.ts
  src/modules/auth.module.ts
Labels: 🔐 auth:core, 🔗 api:grpc, 💥 breaking-change, 🌍 external

feat(migration): cleanup - remove old authentication module
  src/modules/app/typeorm.ts
  src/modules/authentication/auth.controller.ts
  src/modules/authentication/auth.module.ts
  src/modules/authentication/dto/auth.dto.ts
  src/modules/authentication/dto/auth/index.ts
  src/modules/authentication/dto/auth/login-confirm.dto.ts
  src/modules/authentication/dto/auth/login.dto.ts
  src/modules/authentication/dto/auth/qr-auth-confirm.dto.ts
  src/modules/authentication/dto/auth/qr-auth-request.dto.ts
  src/modules/authentication/dto/auth/register-verify-confirm.dto.ts
  src/modules/authentication/dto/auth/register-verify-request.dto.ts
  src/modules/authentication/dto/auth/register.dto.ts
  src/modules/authentication/dto/auth/two-factor-setup.dto.ts
  src/modules/authentication/dto/auth/two-factor-verify.dto.ts
  src/modules/authentication/dto/auth/verification-confirm.dto.ts
  src/modules/authentication/dto/auth/verification-request.dto.ts
  src/modules/authentication/dto/index.ts
  src/modules/authentication/dto/response/auth-response.dto.ts
  src/modules/authentication/dto/response/index.ts
  src/modules/authentication/dto/response/qr-auth-response.dto.ts
  src/modules/authentication/dto/response/two-factor-setup-response.dto.ts
  src/modules/authentication/dto/response/verification-response.dto.ts
  src/modules/authentication/factories/jwt.ts
  src/modules/authentication/guards/index.ts
  src/modules/authentication/guards/jwt-auth.guard.ts
  src/modules/authentication/guards/rate-limit.guard.ts
  src/modules/authentication/pipes/index.ts
  src/modules/authentication/pipes/validation.pipe.ts
  src/modules/authentication/services/auth.service.ts
  src/modules/authentication/services/crypto.service.ts
  src/modules/authentication/services/notification.service.ts
  src/modules/devices/controllers/devices.controller.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.ts
  src/modules/phone-auth/entities/login-history.entity.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/two-factor-authentication/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/two-factor-authentication.service.ts
  src/modules/two-factor-authentication/user-auth.entity.ts
Labels: 🗄️ database, 🎮 api:controllers, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 💥 breaking-change

feat(migration): finalize module transfer with device info, Swagger fixes, and test updates
  MIGRATION_PLAN.md
  src/modules/devices/controllers/devices.controller.spec.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.spec.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.spec.ts
  src/modules/devices/services/device-activity/device-activity.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
  src/modules/devices/services/device-stats/device-stats.service.spec.ts
  src/modules/devices/types/device-registration-data.interface.ts
  src/modules/phone-auth/dto/login.dto.ts
  src/modules/phone-auth/dto/register.dto.ts
  src/modules/phone-auth/dto/signal-keys.dto.ts
  src/modules/phone-auth/interfaces/device-info.interface.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/signal/controllers/signal-keys-health.controller.spec.ts
  src/modules/signal/controllers/signal-keys.controller.spec.ts
  src/modules/signal/services/signal-key-rotation.service.spec.ts
  src/modules/signal/services/signal-key-storage.service.spec.ts
  src/modules/signal/services/signal-key-validation.service.spec.ts
  src/modules/signal/services/signal-prekey-bundle.service.spec.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/swagger.ts
  test/app.e2e-spec.ts
  test/registration.e2e-spec.ts
Labels: 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 🔬 tests:e2e, 📖 documentation, 💥 breaking-change

fix(tests): update unit tests to match migrated module APIs and fix missing providers
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/devices.service.spec.ts
  src/modules/signal/controllers/signal-keys-management.controller.spec.ts
  src/modules/signal/services/signal-key-validation.service.spec.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'
