Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'

🐛 fix(ci): resolve SBOM file path issue in Docker workflow
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

🐛 fix(ci): resolve SBOM file path issue in Docker workflow
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

🐛 fix(ci): resolve SBOM file path issue in Docker workflow
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

📝 docs(ci): add explanatory comments and improve SBOM debugging
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

📝 docs(ci): add explanatory comments and improve SBOM debugging
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

📝 docs(ci): add explanatory comments and improve SBOM debugging
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

INIT
  auth-service.git/HEAD
  auth-service.git/config
  auth-service.git/description
  auth-service.git/filter-repo/already_ran
  auth-service.git/filter-repo/changed-refs
  auth-service.git/filter-repo/commit-map
  auth-service.git/filter-repo/first-changed-commits
  auth-service.git/filter-repo/ref-map
  auth-service.git/filter-repo/suboptimal-issues
  auth-service.git/hooks/applypatch-msg.sample
  auth-service.git/hooks/commit-msg.sample
  auth-service.git/hooks/fsmonitor-watchman.sample
  auth-service.git/hooks/post-update.sample
  auth-service.git/hooks/pre-applypatch.sample
  auth-service.git/hooks/pre-commit.sample
  auth-service.git/hooks/pre-merge-commit.sample
  auth-service.git/hooks/pre-push.sample
  auth-service.git/hooks/pre-rebase.sample
  auth-service.git/hooks/pre-receive.sample
  auth-service.git/hooks/prepare-commit-msg.sample
  auth-service.git/hooks/push-to-checkout.sample
  auth-service.git/hooks/sendemail-validate.sample
  auth-service.git/hooks/update.sample
  auth-service.git/info/exclude
  auth-service.git/info/refs
  auth-service.git/objects/info/commit-graph
  auth-service.git/objects/info/packs
  auth-service.git/objects/pack/pack-d454a786bec3cec16f6fb62d81fc1d4fdbac2dff.bitmap
  auth-service.git/objects/pack/pack-d454a786bec3cec16f6fb62d81fc1d4fdbac2dff.idx
  auth-service.git/objects/pack/pack-d454a786bec3cec16f6fb62d81fc1d4fdbac2dff.pack
  auth-service.git/objects/pack/pack-d454a786bec3cec16f6fb62d81fc1d4fdbac2dff.rev
  auth-service.git/packed-refs
  auth-service.git/refs/remotes/origin/main
  docker/compose.yml
Labels: 🐳 devops:docker

doc: deploy compodoc to github pages
  .github/workflows/deploy-docs.yml
  .gitignore
  package.json
  tsconfig.doc.json
Labels: ⚙️ config, ⚡ devops:ci-cd, 📦 dependencies

doc: deploy compodoc to github pages
  .github/workflows/deploy-docs.yml
  .gitignore
  package.json
  tsconfig.doc.json
Labels: ⚙️ config, ⚡ devops:ci-cd, 📦 dependencies

doc: deploy compodoc to github pages
  .github/workflows/deploy-docs.yml
  .gitignore
  package.json
  tsconfig.doc.json
Labels: ⚙️ config, ⚡ devops:ci-cd, 📦 dependencies

fix: use a separate folder for compdoc website build
  .github/workflows/deploy-docs.yml
  .gitignore
  package.json
  tsconfig.doc.json
Labels: ⚙️ config, ⚡ devops:ci-cd, 📦 dependencies

fix: use a separate folder for compdoc website build
  .github/workflows/deploy-docs.yml
  .gitignore
  package.json
  tsconfig.doc.json
Labels: ⚙️ config, ⚡ devops:ci-cd, 📦 dependencies

fix: use a separate folder for compdoc website build
  .github/workflows/deploy-docs.yml
  .gitignore
  package.json
  tsconfig.doc.json
Labels: ⚙️ config, ⚡ devops:ci-cd, 📦 dependencies

fix: avoid jekyll ignores some files of the compodoc website
  .github/workflows/deploy-docs.yml
Labels: ⚡ devops:ci-cd

fix: avoid jekyll ignores some files of the compodoc website
  .github/workflows/deploy-docs.yml
Labels: ⚡ devops:ci-cd

fix: avoid jekyll ignores some files of the compodoc website
  .github/workflows/deploy-docs.yml
Labels: ⚡ devops:ci-cd

Update .github/workflows/deploy-docs.yml
  .github/workflows/deploy-docs.yml
Labels: ⚡ devops:ci-cd

Update .github/workflows/deploy-docs.yml
  .github/workflows/deploy-docs.yml
Labels: ⚡ devops:ci-cd

Update .github/workflows/deploy-docs.yml
  .github/workflows/deploy-docs.yml
Labels: ⚡ devops:ci-cd

deps: update nestjs to version 11
  package-lock.json
  package.json
Labels: 📦 dependencies

deps: update nestjs to version 11
  package-lock.json
  package.json
Labels: 📦 dependencies

deps: update nestjs to version 11
  package-lock.json
  package.json
Labels: 📦 dependencies

dev: add a justfile for useful commands
  Justfile
Labels: none

dev: add a justfile for useful commands
  Justfile
Labels: none

dev: add a justfile for useful commands
  Justfile
Labels: none

feat: setup the swagger documentation
  src/main.ts
Labels: ⚙️ config, 💥 breaking-change

feat: setup the swagger documentation
  src/main.ts
Labels: ⚙️ config, 💥 breaking-change

feat: setup the swagger documentation
  src/main.ts
Labels: ⚙️ config, 💥 breaking-change

remove(docker): deprecated version tag
  docker/docker-compose.yml
Labels: 🐳 devops:docker

remove(docker): deprecated version tag
  docker/docker-compose.yml
Labels: 🐳 devops:docker

remove(docker): deprecated version tag
  docker/docker-compose.yml
Labels: 🐳 devops:docker

move: reorganize docker folder
  docker/config/01-init.sql
  docker/config/redis.conf
  docker/dev/Dockerfile
  docker/dev/compose.yml
  docker/dev/docker-compose.yml
  docker/nestjs/Dockerfile
  docker/nestjs/requirements.txt
  docker/prod/Dockerfile
  docker/prod/compose.yml
Labels: 🐳 devops:docker

move: reorganize docker folder
  docker/config/01-init.sql
  docker/config/redis.conf
  docker/dev/Dockerfile
  docker/dev/compose.yml
  docker/dev/docker-compose.yml
  docker/nestjs/Dockerfile
  docker/nestjs/requirements.txt
  docker/prod/Dockerfile
  docker/prod/compose.yml
Labels: 🐳 devops:docker

move: reorganize docker folder
  docker/config/01-init.sql
  docker/config/redis.conf
  docker/dev/Dockerfile
  docker/dev/compose.yml
  docker/dev/docker-compose.yml
  docker/nestjs/Dockerfile
  docker/nestjs/requirements.txt
  docker/prod/Dockerfile
  docker/prod/compose.yml
Labels: 🐳 devops:docker

move: .dockerignore along their respective Dockerfile
  docker/dev/Dockerfile.dockerignore
  docker/prod/Dockerfile.dockerignore
Labels: 🐳 devops:docker

move: .dockerignore along their respective Dockerfile
  docker/dev/Dockerfile.dockerignore
  docker/prod/Dockerfile.dockerignore
Labels: 🐳 devops:docker

move: .dockerignore along their respective Dockerfile
  docker/dev/Dockerfile.dockerignore
  docker/prod/Dockerfile.dockerignore
Labels: 🐳 devops:docker

remove: clean duplicated docker related files
  docker/dev/Dockerfile
  docker/dev/compose.yml
  docker/dev/docker-compose.yml
  docker/dev/requirements.txt
Labels: 🐳 devops:docker

remove: clean duplicated docker related files
  docker/dev/Dockerfile
  docker/dev/compose.yml
  docker/dev/docker-compose.yml
  docker/dev/requirements.txt
Labels: 🐳 devops:docker

remove: clean duplicated docker related files
  docker/dev/Dockerfile
  docker/dev/compose.yml
  docker/dev/docker-compose.yml
  docker/dev/requirements.txt
Labels: 🐳 devops:docker
