Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

fix(migrations): scope pg_constraint checks to target table via conrelid
  src/modules/app/migrations/1741564800000-AddDeviceFingerprintNotNull.ts
  src/modules/app/migrations/1741651200000-FixDeviceFingerprintCompositeUnique.ts
Labels: 💥 breaking-change

fix(migrations): use explicit ENTITIES list and make dotenv optional
  src/migrations/migration.config.ts
Labels: 🗄️ database, ⚙️ config, 💥 breaking-change

fix(migrations): create tables in auth schema instead of public (#110)
  src/modules/app/migrations/1700000000000-CreateInitialTables.ts
  src/modules/app/migrations/1741564800000-AddDeviceFingerprintNotNull.ts
  src/modules/app/migrations/1741651200000-FixDeviceFingerprintCompositeUnique.ts
  src/modules/phone-auth/entities/login-history.entity.ts
  src/modules/signal/entities/identity-key.entity.ts
  src/modules/signal/entities/prekey.entity.ts
  src/modules/signal/entities/signed-prekey.entity.ts
  src/modules/two-factor-authentication/entities/backup-code.entity.ts
Labels: 🗄️ database, 💥 breaking-change

fix(migrations): create tables in auth schema instead of public (#110)
  src/modules/app/migrations/1700000000000-CreateInitialTables.ts
  src/modules/app/migrations/1741564800000-AddDeviceFingerprintNotNull.ts
  src/modules/app/migrations/1741651200000-FixDeviceFingerprintCompositeUnique.ts
  src/modules/phone-auth/entities/login-history.entity.ts
  src/modules/signal/entities/identity-key.entity.ts
  src/modules/signal/entities/prekey.entity.ts
  src/modules/signal/entities/signed-prekey.entity.ts
  src/modules/two-factor-authentication/entities/backup-code.entity.ts
Labels: 🗄️ database, 💥 breaking-change

feat(migrations): create standalone TypeORM DataSource config for CLI (#111)
  package-lock.json
  package.json
  src/migrations/migration.config.ts
Labels: 🗄️ database, ⚙️ config, 📦 dependencies, 💥 breaking-change

feat(migrations): create standalone TypeORM DataSource config for CLI (#111)
  package-lock.json
  package.json
  src/migrations/migration.config.ts
Labels: 🗄️ database, ⚙️ config, 📦 dependencies, 💥 breaking-change

ci(cd): replace workflow_run trigger with workflow_call chained after Docker job
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

ci(cd): replace workflow_run trigger with workflow_call chained after Docker job
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

chore: update GitNexus stats and package-lock.json
  CLAUDE.md
  package-lock.json
Labels: 📖 documentation, 📦 dependencies

chore: update GitNexus stats and package-lock.json
  CLAUDE.md
  package-lock.json
Labels: 📖 documentation, 📦 dependencies

fix(cd): declare required secrets in workflow_call trigger
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(cd): declare required secrets in workflow_call trigger
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(ci): pass secrets explicitly to cd workflow_call
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

fix(ci): pass secrets explicitly to cd workflow_call
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

fix(ci): add deploy-gate job to break reusable workflow chain
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

fix(ci): grant contents:write permission for cd workflow_call
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

chore: sync package-lock.json with package.json
  package-lock.json
Labels: 📦 dependencies

fix(ci): rename deploy-gate to deploy_gate and use github.sha directly
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

fix(ci): add deploy-gate job to break reusable workflow chain (#114)
  .github/workflows/ci.yml
  package-lock.json
Labels: ⚡ devops:ci-cd, 📦 dependencies

fix(ci): add deploy-gate job to break reusable workflow chain (#114)
  .github/workflows/ci.yml
  package-lock.json
Labels: ⚡ devops:ci-cd, 📦 dependencies

chore(grpc): remove dead gRPC modules and clean up env vars
  package.json
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/grpc/auth.grpc.service.ts
  src/grpc/clients/media.grpc.client.ts
  src/grpc/clients/user.grpc.client.ts
  src/grpc/grpc.server.ts
Labels: 🔗 api:grpc, 🧪 tests:unit, 📦 dependencies, 🌍 external

chore(grpc): remove dead gRPC modules and clean up env vars
  package.json
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/grpc/auth.grpc.service.ts
  src/grpc/clients/media.grpc.client.ts
  src/grpc/clients/user.grpc.client.ts
  src/grpc/grpc.server.ts
Labels: 🔗 api:grpc, 🧪 tests:unit, 📦 dependencies, 🌍 external

chore(grpc): update package-lock after removing gRPC dependencies
  package-lock.json
Labels: 📦 dependencies

chore(grpc): update package-lock after removing gRPC dependencies
  package-lock.json
Labels: 📦 dependencies

chore(grpc): regenerate package-lock after removing gRPC dependencies
  package-lock.json
Labels: 📦 dependencies

chore(grpc): regenerate package-lock after removing gRPC dependencies
  package-lock.json
Labels: 📦 dependencies

test(coverage): add unit tests for 2FA service, cache service and Signal repositories
  src/modules/cache/cache.service.spec.ts
  src/modules/signal/repositories/identity-key.repository.spec.ts
  src/modules/signal/repositories/prekey.repository.spec.ts
  src/modules/signal/repositories/signed-prekey.repository.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
Labels: 🗄️ database, 🧪 tests:unit, 💥 breaking-change, ⚡ performance

test(coverage): add unit tests for 2FA service, cache service and Signal repositories
  src/modules/cache/cache.service.spec.ts
  src/modules/signal/repositories/identity-key.repository.spec.ts
  src/modules/signal/repositories/prekey.repository.spec.ts
  src/modules/signal/repositories/signed-prekey.repository.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
Labels: 🗄️ database, 🧪 tests:unit, 💥 breaking-change, ⚡ performance

test(coverage): add unit tests for PhoneVerificationService, RateLimitService and DeviceRepository
  src/modules/devices/repositories/device.repository.spec.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
  src/modules/phone-verification/services/rate-limit/rate-limit.service.spec.ts
Labels: ⏱️ security:rate-limit, 🧪 tests:unit, 💥 breaking-change

test(coverage): add unit tests for PhoneVerificationService, RateLimitService and DeviceRepository
  src/modules/devices/repositories/device.repository.spec.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
  src/modules/phone-verification/services/rate-limit/rate-limit.service.spec.ts
Labels: ⏱️ security:rate-limit, 🧪 tests:unit, 💥 breaking-change

test(coverage): complete backup-codes service unit tests
  src/modules/two-factor-authentication/backup-codes/backup-codes.service.spec.ts
Labels: 🧪 tests:unit, 💥 breaking-change

test(coverage): complete backup-codes service unit tests
  src/modules/two-factor-authentication/backup-codes/backup-codes.service.spec.ts
Labels: 🧪 tests:unit, 💥 breaking-change

test(coverage): add missing tests for tokens service, tokens controller and sms strategy
  src/modules/phone-verification/strategies/sms-verification.strategy.spec.ts
  src/modules/tokens/controllers/tokens.controller.spec.ts
  src/modules/tokens/services/tokens.service.spec.ts
Labels: 🎮 api:controllers, ⏱️ security:rate-limit, 🧪 tests:unit, 💥 breaking-change, 🌍 external

test(config): silence NestJS logger output during test runs
  package.json
  src/jest.setup.ts
Labels: 📦 dependencies

test(coverage): add unit tests for DeviceFingerprintService and PhoneNumberService
  src/modules/devices/services/device-fingerprint/device-fingerprint.service.spec.ts
  src/modules/phone-verification/services/phone-number/phone-number.service.spec.ts
Labels: 🧪 tests:unit, 💥 breaking-change

test(coverage): add unit tests for DeviceFingerprintService and PhoneNumberService
  src/modules/devices/services/device-fingerprint/device-fingerprint.service.spec.ts
  src/modules/phone-verification/services/phone-number/phone-number.service.spec.ts
Labels: 🧪 tests:unit, 💥 breaking-change

test(coverage): add missing tests for tokens service, tokens controller and sms strategy
  src/modules/phone-verification/strategies/sms-verification.strategy.spec.ts
  src/modules/tokens/controllers/tokens.controller.spec.ts
  src/modules/tokens/services/tokens.service.spec.ts
Labels: 🎮 api:controllers, ⏱️ security:rate-limit, 🧪 tests:unit, 💥 breaking-change, 🌍 external

test(coverage): add error branch tests and phone-auth controller spec
  src/modules/phone-auth/controllers/phone-authentication.controller.spec.ts
  src/modules/signal/services/signal-key-storage.service.spec.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

test(coverage): add error branch tests and phone-auth controller spec
  src/modules/phone-auth/controllers/phone-authentication.controller.spec.ts
  src/modules/signal/services/signal-key-storage.service.spec.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

test(coverage): add unit tests for SmsService, CacheVerificationRepository, UserAuthService and phone/2fa controllers
  src/modules/common/services/user-auth.service.spec.ts
  src/modules/phone-verification/controllers/phone-verification.controller.spec.ts
  src/modules/phone-verification/repositories/cache-verification.repository.spec.ts
  src/modules/phone-verification/services/sms/sms.service.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change, ⚡ performance, 🌍 external

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'
