Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'

test(qr-code): assert challenge service is called with deviceId and userId
  test/qr-code.e2e-spec.ts
Labels: 🔬 tests:e2e

test(qr-code): assert challenge service is called with deviceId and userId
  test/qr-code.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(phone-verification): never leak demo OTP in prod responses
  README.md
  src/docker/check-env.ts
  src/modules/phone-verification/dto/verification-request-response.dto.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 📋 api:dto, 🧪 tests:unit, 📖 documentation, 💥 breaking-change

fix(phone-verification): never leak demo OTP in prod responses
  README.md
  src/docker/check-env.ts
  src/modules/phone-verification/dto/verification-request-response.dto.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 📋 api:dto, 🧪 tests:unit, 📖 documentation, 💥 breaking-change

fix(phone-verification): make SMS rate limits configurable via env
  README.md
  src/docker/check-env.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 📖 documentation, 💥 breaking-change

fix(phone-verification): make SMS rate limits configurable via env
  README.md
  src/docker/check-env.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 📖 documentation, 💥 breaking-change

correction path refresh token dans le schéma
  docs/token-lifecycle.md
Labels: 📖 documentation

correction path refresh token dans le schéma
  docs/token-lifecycle.md
Labels: 📖 documentation

correction endpoints health checks
  docs/health-checks.md
Labels: 📖 documentation

correction endpoints health checks
  docs/health-checks.md
Labels: 📖 documentation

correction URL Swagger locale
  docs/swagger.md
Labels: 📖 documentation

correction URL Swagger locale
  docs/swagger.md
Labels: 📖 documentation

refactor(swagger): extract endpoint decorators into dedicated swagger files
  src/modules/devices/controllers/devices.controller.swagger.ts
  src/modules/devices/controllers/devices.controller.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.swagger.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.ts
  src/modules/devices/quick-response-code/dto/scan-login-response.dto.ts
  src/modules/health/health.controller.swagger.ts
  src/modules/health/health.controller.ts
  src/modules/jwks/jwks.controller.swagger.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.swagger.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/phone-verification/controllers/phone-verification.controller.swagger.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
  src/modules/signal/controllers/signal-keys-health.controller.swagger.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.swagger.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/signal/controllers/signal-keys.controller.swagger.ts
  src/modules/signal/controllers/signal-keys.controller.ts
  src/modules/signal/dto/signal-keys.dto.ts
  src/modules/tokens/controllers/tokens.controller.swagger.ts
  src/modules/tokens/controllers/tokens.controller.ts
  src/modules/tokens/dto/refresh-token-response.dto.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.swagger.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/dto/index.ts
  src/modules/two-factor-authentication/dto/two-factor-disable-response.dto.ts
  src/modules/two-factor-authentication/dto/two-factor-status-response.dto.ts
  src/modules/two-factor-authentication/dto/two-factor-verify-response.dto.ts
Labels: 🎮 api:controllers, 📋 api:dto, 💥 breaking-change

refactor(swagger): extract endpoint decorators into dedicated swagger files
  src/modules/devices/controllers/devices.controller.swagger.ts
  src/modules/devices/controllers/devices.controller.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.swagger.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.ts
  src/modules/devices/quick-response-code/dto/scan-login-response.dto.ts
  src/modules/health/health.controller.swagger.ts
  src/modules/health/health.controller.ts
  src/modules/jwks/jwks.controller.swagger.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.swagger.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/phone-verification/controllers/phone-verification.controller.swagger.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
  src/modules/signal/controllers/signal-keys-health.controller.swagger.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.swagger.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/signal/controllers/signal-keys.controller.swagger.ts
  src/modules/signal/controllers/signal-keys.controller.ts
  src/modules/signal/dto/signal-keys.dto.ts
  src/modules/tokens/controllers/tokens.controller.swagger.ts
  src/modules/tokens/controllers/tokens.controller.ts
  src/modules/tokens/dto/refresh-token-response.dto.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.swagger.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/dto/index.ts
  src/modules/two-factor-authentication/dto/two-factor-disable-response.dto.ts
  src/modules/two-factor-authentication/dto/two-factor-status-response.dto.ts
  src/modules/two-factor-authentication/dto/two-factor-verify-response.dto.ts
Labels: 🎮 api:controllers, 📋 api:dto, 💥 breaking-change

doc architecture JWT et vérification
  docs/jwt-architecture.md
Labels: 📖 documentation

doc architecture JWT et vérification
  docs/jwt-architecture.md
Labels: 📖 documentation

doc flux OTP inscription et connexion
  docs/otp-flow.md
Labels: 📖 documentation

doc flux OTP inscription et connexion
  docs/otp-flow.md
Labels: 📖 documentation

doc schéma base de données auth
  docs/database-schema.md
Labels: 📖 documentation

doc schéma base de données auth
  docs/database-schema.md
Labels: 📖 documentation

doc logging et intercepteur
  docs/logging.md
Labels: 📖 documentation

doc logging et intercepteur
  docs/logging.md
Labels: 📖 documentation

doc configuration CORS auth
  docs/cors-config.md
Labels: 📖 documentation

doc configuration CORS auth
  docs/cors-config.md
Labels: 📖 documentation

doc gestion des erreurs
  docs/error-handling.md
Labels: 📖 documentation

doc gestion des erreurs
  docs/error-handling.md
Labels: 📖 documentation

doc guards d'authentification
  docs/guards.md
Labels: 📖 documentation

doc guards d'authentification
  docs/guards.md
Labels: 📖 documentation

doc tests E2E
  docs/e2e-testing.md
Labels: 📖 documentation

doc décorateurs custom
  docs/decorators.md
Labels: 📖 documentation

doc décorateurs custom
  docs/decorators.md
Labels: 📖 documentation

doc tests E2E
  docs/e2e-testing.md
Labels: 📖 documentation

feat(tokens): endpoint POST /tokens/ws-token court-vivant pour WS
  src/modules/tokens/controllers/tokens.controller.spec.ts
  src/modules/tokens/controllers/tokens.controller.ts
  src/modules/tokens/dto/ws-token-response.dto.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 💥 breaking-change

feat(tokens): endpoint POST /tokens/ws-token court-vivant pour WS
  src/modules/tokens/controllers/tokens.controller.spec.ts
  src/modules/tokens/controllers/tokens.controller.ts
  src/modules/tokens/dto/ws-token-response.dto.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 💥 breaking-change

style(swagger): format QR challenge endpoint description with Prettier
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.swagger.ts
Labels: 🎮 api:controllers, 💥 breaking-change

style(swagger): format QR challenge endpoint description with Prettier
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.swagger.ts
Labels: 🎮 api:controllers, 💥 breaking-change

ci(workflows): build on every push, restrict CD to main and deploy/preprod
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

ci(workflows): build on every push, restrict CD to main and deploy/preprod
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

fix(tokens): pass aud and iss as sign options for ws-token
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  test/ws-token.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(tokens): pass aud and iss as sign options for ws-token (#175)
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  test/ws-token.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change
