Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

fix(e2e): update integration tests for new module structure and API routes
  test/app.e2e-spec.ts
  test/registration.e2e-spec.ts
Labels: 🔬 tests:e2e

style: format codebase with Prettier
  src/modules/devices/devices.module.ts
  src/modules/devices/quick-response-code/dto/scan-login.dto.ts
  src/modules/devices/quick-response-code/services/index.ts
  src/modules/devices/quick-response-code/types/quick-response-challeng-data.interface.ts
  src/modules/devices/repositories/device.repository.ts
  src/modules/devices/services/device-activity/device-activity.service.ts
  src/modules/devices/services/device-fingerprint/device-fingerprint.service.ts
  src/modules/devices/services/device-stats/device-stats.service.ts
  src/modules/devices/services/devices.service.ts
  src/modules/devices/types/device-fingerprint.interface.ts
  src/modules/devices/types/device-stats.interface.ts
  src/modules/phone-verification/dto/index.ts
  src/modules/phone-verification/dto/verification-confirm.dto.ts
  src/modules/phone-verification/dto/verification-request.dto.ts
  src/modules/phone-verification/services/index.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/phone-verification/services/sms/sms.service.spec.ts
  src/modules/phone-verification/services/sms/sms.service.ts
  src/modules/phone-verification/strategies/verification-channel.strategy.ts
  src/modules/phone-verification/swagger/phone-verification.examples.ts
  src/modules/phone-verification/types/index.ts
  src/modules/phone-verification/types/verification-code.interface.ts
Labels: 📋 api:dto, ⏱️ security:rate-limit, 🧪 tests:unit, 💥 breaking-change, 🌍 external

fix(phone-auth): call SignalKeyStorageService on register/login to fix E2E encryption
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 💥 breaking-change

fix(phone-auth): call SignalKeyStorageService on register/login to fix E2E encryption (#59)
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 💥 breaking-change

fix(phone-auth): call SignalKeyStorageService on register/login to fix E2E encryption (#59)
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 💥 breaking-change

fix(phone-auth): call SignalKeyStorageService on register/login to fix E2E encryption (#59)
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 💥 breaking-change

fix(tokens): check revoked_device in JwtAuthGuard to fix logout
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🛡️ security:guards, 💥 breaking-change

fix(tokens): check revoked_device in JwtAuthGuard to fix logout (#60)
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🛡️ security:guards, 💥 breaking-change

fix(tokens): check revoked_device in JwtAuthGuard to fix logout (#60)
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🛡️ security:guards, 💥 breaking-change

fix(tokens): check revoked_device in JwtAuthGuard to fix logout (#60)
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🛡️ security:guards, 💥 breaking-change

fix(tokens): add jti claim to access token and check it on every request
  src/modules/tokens/guards/jwt-auth.guard.spec.ts
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/types/jwt-payload.interface.ts
  test/token-revocation.e2e-spec.ts
Labels: 📋 api:dto, 🛡️ security:guards, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(tokens): add jti claim to access token and check it on every request (#61)
  src/modules/tokens/guards/jwt-auth.guard.spec.ts
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/types/jwt-payload.interface.ts
  test/token-revocation.e2e-spec.ts
Labels: 📋 api:dto, 🛡️ security:guards, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(tokens): add jti claim to access token and check it on every request (#61)
  src/modules/tokens/guards/jwt-auth.guard.spec.ts
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/types/jwt-payload.interface.ts
  test/token-revocation.e2e-spec.ts
Labels: 📋 api:dto, 🛡️ security:guards, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(tokens): add jti claim to access token and check it on every request (#61)
  src/modules/tokens/guards/jwt-auth.guard.spec.ts
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/types/jwt-payload.interface.ts
  test/token-revocation.e2e-spec.ts
Labels: 📋 api:dto, 🛡️ security:guards, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

chore: ignore CLAUDE.local.md
  .gitignore
Labels: none

chore: ignore CLAUDE.local.md
  .gitignore
Labels: none

chore: ignore CLAUDE.local.md
  .gitignore
Labels: none

fix(tokens): remove timestamp from fingerprint to make refresh token comparison deterministic
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(tokens): remove timestamp from fingerprint to make refresh token comparison deterministic (#62)
  .gitignore
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(tokens): remove timestamp from fingerprint to make refresh token comparison deterministic (#62)
  .gitignore
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(tokens): remove timestamp from fingerprint to make refresh token comparison deterministic (#62)
  .gitignore
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(tokens): re-throw UnauthorizedException in refreshAccessToken catch block
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(tokens): re-throw UnauthorizedException in refreshAccessToken catch block (#63)
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(tokens): re-throw UnauthorizedException in refreshAccessToken catch block (#63)
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(tokens): re-throw UnauthorizedException in refreshAccessToken catch block (#63)
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(phone-auth): generate unique UUID for web sessions instead of shared 'web-session' deviceId
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(phone-auth): generate unique UUID for web sessions instead of shared 'web-session' deviceId (#64)
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(phone-auth): generate unique UUID for web sessions instead of shared 'web-session' deviceId (#64)
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(phone-auth): generate unique UUID for web sessions instead of shared 'web-session' deviceId (#64)
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

feat(devices): enforce MAX_DEVICES_PER_USER limit before creating new device
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

feat(devices): enforce MAX_DEVICES_PER_USER limit before creating new device (#65)
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

feat(devices): enforce MAX_DEVICES_PER_USER limit before creating new device (#65)
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

feat(devices): enforce MAX_DEVICES_PER_USER limit before creating new device (#65)
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(tokens): replace decode() with verify() in revokeToken() to prevent cache pollution
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(tokens): replace decode() with verify() in revokeToken() to prevent cache pollution (#66)
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(tokens): replace decode() with verify() in revokeToken() to prevent cache pollution (#66)
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(tokens): replace decode() with verify() in revokeToken() to prevent cache pollution (#66)
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

refactor(tokens): standardize error messages to English with machine-readable codes
  src/modules/tokens/guards/jwt-auth.guard.spec.ts
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🛡️ security:guards, 🧪 tests:unit, 💥 breaking-change

refactor(tokens): standardize error messages to English with machine-readable codes (#67)
  src/modules/tokens/guards/jwt-auth.guard.spec.ts
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🛡️ security:guards, 🧪 tests:unit, 💥 breaking-change

refactor(tokens): standardize error messages to English with machine-readable codes (#67)
  src/modules/tokens/guards/jwt-auth.guard.spec.ts
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🛡️ security:guards, 🧪 tests:unit, 💥 breaking-change

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'
