Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'

doc health checks
  docs/health-checks.md
Labels: 📖 documentation

doc health checks
  docs/health-checks.md
Labels: 📖 documentation

doc setup environnement dev
  docs/environment-setup.md
Labels: 📖 documentation

doc setup environnement dev
  docs/environment-setup.md
Labels: 📖 documentation

doc stratégie de test
  docs/testing-strategy.md
Labels: 📖 documentation

doc stratégie de test
  docs/testing-strategy.md
Labels: 📖 documentation

doc utilisation Redis
  docs/redis-usage.md
Labels: 📖 documentation

doc utilisation Redis
  docs/redis-usage.md
Labels: 📖 documentation

doc pipeline CI
  docs/ci-pipeline.md
Labels: 📖 documentation

doc pipeline CI
  docs/ci-pipeline.md
Labels: 📖 documentation

doc structure du projet
  docs/project-structure.md
Labels: 📖 documentation

doc structure du projet
  docs/project-structure.md
Labels: 📖 documentation

doc communication inter-services
  docs/inter-service-communication.md
Labels: 📖 documentation

doc communication inter-services
  docs/inter-service-communication.md
Labels: 📖 documentation

feat(redis-stream): retry XADD avec backoff exponentiel — Closes WHISPR-992
  src/shared/redis/redis-stream-producer.service.spec.ts
  src/shared/redis/redis-stream-producer.service.ts
Labels: 🧪 tests:unit, ⚡ performance

feat(redis-stream): retry XADD avec backoff exponentiel — Closes WHISPR-992
  src/shared/redis/redis-stream-producer.service.spec.ts
  src/shared/redis/redis-stream-producer.service.ts
Labels: 🧪 tests:unit, ⚡ performance

ci(workflow): replace deploy/preprod promotion model with direct-to-main merges
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

ci(workflow): address review feedback — remove unused branch_info step, align paths-ignore
  .github/workflows/cd.yml
  .github/workflows/release.yml
Labels: ⚡ devops:ci-cd

ci(workflow): replace deploy/preprod promotion model with direct-to-main merges (#170)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

ci(workflow): replace deploy/preprod promotion model with direct-to-main merges (#170)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

[SPRINT 8] Release auth-service (#168)
  CLAUDE.md
  src/shared/redis/redis-stream-producer.service.spec.ts
  src/shared/redis/redis-stream-producer.service.ts
Labels: 🧪 tests:unit, 📖 documentation, ⚡ performance

[SPRINT 8] Release auth-service (#168)
  CLAUDE.md
  src/shared/redis/redis-stream-producer.service.spec.ts
  src/shared/redis/redis-stream-producer.service.ts
Labels: 🧪 tests:unit, 📖 documentation, ⚡ performance

chore(auth): pin libssl3 et enrichir le mock ioredis e2e — Closes WHISPR-999, WHISPR-1000
  docker/prod/Dockerfile
  test/setup-e2e.ts
Labels: 🔬 tests:e2e, 🐳 devops:docker

chore(auth): pin libssl3 et enrichir le mock ioredis e2e — Closes WHISPR-999, WHISPR-1000
  docker/prod/Dockerfile
  test/setup-e2e.ts
Labels: 🔬 tests:e2e, 🐳 devops:docker

refactor(auth): replace :any types with proper interfaces in critical zones
  src/modules/cache/cache.service.ts
  src/modules/devices/controllers/devices.controller.spec.ts
  src/modules/devices/controllers/devices.controller.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.spec.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.ts
  src/modules/devices/services/device-stats/device-stats.service.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.spec.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.spec.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/tokens/controllers/tokens.controller.spec.ts
  src/modules/tokens/controllers/tokens.controller.ts
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/types/authenticated-request.interface.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
Labels: 🎮 api:controllers, 📋 api:dto, 🛡️ security:guards, 🧪 tests:unit, 💥 breaking-change, ⚡ performance

[WHISPR-1017] Replace :any types with proper interfaces in critical zones (#171)
  src/modules/cache/cache.service.ts
  src/modules/devices/controllers/devices.controller.spec.ts
  src/modules/devices/controllers/devices.controller.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.spec.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.ts
  src/modules/devices/services/device-stats/device-stats.service.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.spec.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.spec.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/tokens/controllers/tokens.controller.spec.ts
  src/modules/tokens/controllers/tokens.controller.ts
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/types/authenticated-request.interface.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
Labels: 🎮 api:controllers, 📋 api:dto, 🛡️ security:guards, 🧪 tests:unit, 💥 breaking-change, ⚡ performance

[WHISPR-1017] Replace :any types with proper interfaces in critical zones (#171)
  src/modules/cache/cache.service.ts
  src/modules/devices/controllers/devices.controller.spec.ts
  src/modules/devices/controllers/devices.controller.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.spec.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.ts
  src/modules/devices/services/device-stats/device-stats.service.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.spec.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.spec.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/tokens/controllers/tokens.controller.spec.ts
  src/modules/tokens/controllers/tokens.controller.ts
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/types/authenticated-request.interface.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
Labels: 🎮 api:controllers, 📋 api:dto, 🛡️ security:guards, 🧪 tests:unit, 💥 breaking-change, ⚡ performance

fix(config): wire LOG_LEVEL env variable to NestJS logger
  src/config/log-level.spec.ts
  src/config/log-level.ts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/main.ts
Labels: ⚙️ config, 🧪 tests:unit, 💥 breaking-change

fix(config): wire LOG_LEVEL env variable to NestJS logger (#172)
  src/config/log-level.spec.ts
  src/config/log-level.ts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/main.ts
Labels: ⚙️ config, 🧪 tests:unit, 💥 breaking-change

fix(config): wire LOG_LEVEL env variable to NestJS logger (#172)
  src/config/log-level.spec.ts
  src/config/log-level.ts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/main.ts
Labels: ⚙️ config, 🧪 tests:unit, 💥 breaking-change

docs(throttler): documenter la stratégie @Throttle sur phone-authentication — Closes WHISPR-996, WHISPR-997
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

docs(throttler): documenter la stratégie @Throttle sur phone-authentication — Closes WHISPR-996, WHISPR-997
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

fix(ci): deduplicate auto-labeller by switching trigger to push
  .github/workflows/labeler.yml
Labels: ⚡ devops:ci-cd

fix(ci): deduplicate auto-labeller by switching trigger to push
  .github/workflows/labeler.yml
Labels: ⚡ devops:ci-cd

feat(phone-verification): add optional deviceId to OTP request and confirm DTOs
  src/modules/phone-verification/dto/verification-confirm.dto.ts
  src/modules/phone-verification/dto/verification-request.dto.ts
  src/modules/phone-verification/types/verification-code.interface.ts
Labels: 📋 api:dto, 💥 breaking-change

feat(phone-verification): add optional deviceId to OTP request and confirm DTOs
  src/modules/phone-verification/dto/verification-confirm.dto.ts
  src/modules/phone-verification/dto/verification-request.dto.ts
  src/modules/phone-verification/types/verification-code.interface.ts
Labels: 📋 api:dto, 💥 breaking-change

feat(phone-verification): bind OTP session to device to prevent impersonation
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 💥 breaking-change

feat(phone-verification): bind OTP session to device to prevent impersonation
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 💥 breaking-change

feat(phone-verification): add short-window rate limits on send-otp per phone and IP
  src/modules/phone-verification/controllers/phone-verification.controller.spec.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

feat(phone-verification): add short-window rate limits on send-otp per phone and IP
  src/modules/phone-verification/controllers/phone-verification.controller.spec.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change
