Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'

refactor(tokens): standardize error messages to English with machine-readable codes (#67)
  src/modules/tokens/guards/jwt-auth.guard.spec.ts
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🛡️ security:guards, 🧪 tests:unit, 💥 breaking-change

docs(phone-verification): add @ApiProperty() decorators to verification DTOs
  src/modules/phone-verification/dto/verification-confirm.dto.ts
  src/modules/phone-verification/dto/verification-request.dto.ts
Labels: 📋 api:dto, 💥 breaking-change

docs(phone-verification): add @ApiProperty() decorators to verification DTOs (#68)
  src/modules/phone-verification/dto/verification-confirm.dto.ts
  src/modules/phone-verification/dto/verification-request.dto.ts
Labels: 📋 api:dto, 💥 breaking-change

docs(phone-verification): add @ApiProperty() decorators to verification DTOs (#68)
  src/modules/phone-verification/dto/verification-confirm.dto.ts
  src/modules/phone-verification/dto/verification-request.dto.ts
Labels: 📋 api:dto, 💥 breaking-change

docs(phone-verification): add @ApiProperty() decorators to verification DTOs (#68)
  src/modules/phone-verification/dto/verification-confirm.dto.ts
  src/modules/phone-verification/dto/verification-request.dto.ts
Labels: 📋 api:dto, 💥 breaking-change

refactor(phone-auth): extract BaseAuthDto to eliminate duplication between RegisterDto and LoginDto
  src/modules/phone-auth/dto/base-auth.dto.ts
  src/modules/phone-auth/dto/index.ts
  src/modules/phone-auth/dto/login.dto.ts
  src/modules/phone-auth/dto/register.dto.ts
Labels: 📋 api:dto, 💥 breaking-change

refactor(phone-auth): extract BaseAuthDto to eliminate duplication between RegisterDto and LoginDto (#69)
  src/modules/phone-auth/dto/base-auth.dto.ts
  src/modules/phone-auth/dto/index.ts
  src/modules/phone-auth/dto/login.dto.ts
  src/modules/phone-auth/dto/register.dto.ts
Labels: 📋 api:dto, 💥 breaking-change

refactor(phone-auth): extract BaseAuthDto to eliminate duplication between RegisterDto and LoginDto (#69)
  src/modules/phone-auth/dto/base-auth.dto.ts
  src/modules/phone-auth/dto/index.ts
  src/modules/phone-auth/dto/login.dto.ts
  src/modules/phone-auth/dto/register.dto.ts
Labels: 📋 api:dto, 💥 breaking-change

refactor(phone-auth): extract BaseAuthDto to eliminate duplication between RegisterDto and LoginDto (#69)
  src/modules/phone-auth/dto/base-auth.dto.ts
  src/modules/phone-auth/dto/index.ts
  src/modules/phone-auth/dto/login.dto.ts
  src/modules/phone-auth/dto/register.dto.ts
Labels: 📋 api:dto, 💥 breaking-change

feat(phone-auth): include userId and deviceId in register/login response
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.spec.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.spec.ts
  src/modules/phone-auth/dto/login-response.dto.ts
  src/modules/phone-auth/dto/register-response.dto.ts
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/types/token-pair.interface.ts
Labels: 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 💥 breaking-change

feat(phone-auth): include userId and deviceId in register/login response (#70)
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.spec.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.spec.ts
  src/modules/phone-auth/dto/login-response.dto.ts
  src/modules/phone-auth/dto/register-response.dto.ts
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/types/token-pair.interface.ts
Labels: 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 💥 breaking-change

feat(phone-auth): include userId and deviceId in register/login response (#70)
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.spec.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.spec.ts
  src/modules/phone-auth/dto/login-response.dto.ts
  src/modules/phone-auth/dto/register-response.dto.ts
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/types/token-pair.interface.ts
Labels: 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 💥 breaking-change

feat(phone-auth): include userId and deviceId in register/login response (#70)
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.spec.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.spec.ts
  src/modules/phone-auth/dto/login-response.dto.ts
  src/modules/phone-auth/dto/register-response.dto.ts
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/types/token-pair.interface.ts
Labels: 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 💥 breaking-change

docs(phone-auth): document intentional double phone number check for TOCTOU protection
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 💥 breaking-change

docs(phone-auth): document intentional double phone number check for TOCTOU protection (#71)
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 💥 breaking-change

docs(phone-auth): document intentional double phone number check for TOCTOU protection (#71)
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 💥 breaking-change

docs(phone-auth): document intentional double phone number check for TOCTOU protection (#71)
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 💥 breaking-change

fix(devices,signal): add @InjectDataSource() to custom repositories and DeviceRegistrationService
  src/modules/devices/repositories/device.repository.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
  src/modules/signal/repositories/identity-key.repository.ts
  src/modules/signal/repositories/prekey.repository.ts
  src/modules/signal/repositories/signed-prekey.repository.ts
Labels: 🗄️ database, 💥 breaking-change

fix(devices,signal): add @InjectDataSource() to custom repositories and DeviceRegistrationService (#72)
  src/modules/devices/repositories/device.repository.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
  src/modules/signal/repositories/identity-key.repository.ts
  src/modules/signal/repositories/prekey.repository.ts
  src/modules/signal/repositories/signed-prekey.repository.ts
Labels: 🗄️ database, 💥 breaking-change

fix(devices,signal): add @InjectDataSource() to custom repositories and DeviceRegistrationService (#72)
  src/modules/devices/repositories/device.repository.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
  src/modules/signal/repositories/identity-key.repository.ts
  src/modules/signal/repositories/prekey.repository.ts
  src/modules/signal/repositories/signed-prekey.repository.ts
Labels: 🗄️ database, 💥 breaking-change

fix(devices,signal): add @InjectDataSource() to custom repositories and DeviceRegistrationService (#72)
  src/modules/devices/repositories/device.repository.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
  src/modules/signal/repositories/identity-key.repository.ts
  src/modules/signal/repositories/prekey.repository.ts
  src/modules/signal/repositories/signed-prekey.repository.ts
Labels: 🗄️ database, 💥 breaking-change

fix(devices,signal): adopt standard TypeORM constructor signature in custom repositories
  src/modules/devices/devices.module.ts
  src/modules/devices/repositories/device.repository.ts
  src/modules/signal/repositories/identity-key.repository.ts
  src/modules/signal/repositories/prekey.repository.ts
  src/modules/signal/repositories/signed-prekey.repository.ts
  src/modules/signal/signal.module.ts
Labels: 🗄️ database, 💥 breaking-change

fix(devices,signal): adopt standard TypeORM constructor signature in custom repositories (#73)
  src/modules/devices/devices.module.ts
  src/modules/devices/repositories/device.repository.ts
  src/modules/signal/repositories/identity-key.repository.ts
  src/modules/signal/repositories/prekey.repository.ts
  src/modules/signal/repositories/signed-prekey.repository.ts
  src/modules/signal/signal.module.ts
Labels: 🗄️ database, 💥 breaking-change

fix(devices,signal): adopt standard TypeORM constructor signature in custom repositories (#73)
  src/modules/devices/devices.module.ts
  src/modules/devices/repositories/device.repository.ts
  src/modules/signal/repositories/identity-key.repository.ts
  src/modules/signal/repositories/prekey.repository.ts
  src/modules/signal/repositories/signed-prekey.repository.ts
  src/modules/signal/signal.module.ts
Labels: 🗄️ database, 💥 breaking-change

fix(devices,signal): adopt standard TypeORM constructor signature in custom repositories (#73)
  src/modules/devices/devices.module.ts
  src/modules/devices/repositories/device.repository.ts
  src/modules/signal/repositories/identity-key.repository.ts
  src/modules/signal/repositories/prekey.repository.ts
  src/modules/signal/repositories/signed-prekey.repository.ts
  src/modules/signal/signal.module.ts
Labels: 🗄️ database, 💥 breaking-change

feat(devices): accept client-provided deviceId and store as device_fingerprint
  src/modules/app/migrations/1741478400000-MakeDeviceFingerprintNullable.ts
  src/modules/devices/entities/device.entity.ts
  src/modules/devices/repositories/device.repository.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
  src/modules/devices/types/device-registration-data.interface.ts
  src/modules/phone-auth/dto/base-auth.dto.ts
  src/modules/phone-auth/interfaces/device-info.interface.ts
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🗄️ database, 📋 api:dto, 🧪 tests:unit, 💥 breaking-change

feat(devices): accept client-provided deviceId and store as device_fingerprint (#74)
  src/modules/app/migrations/1741478400000-MakeDeviceFingerprintNullable.ts
  src/modules/devices/entities/device.entity.ts
  src/modules/devices/repositories/device.repository.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
  src/modules/devices/types/device-registration-data.interface.ts
  src/modules/phone-auth/dto/base-auth.dto.ts
  src/modules/phone-auth/interfaces/device-info.interface.ts
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🗄️ database, 📋 api:dto, 🧪 tests:unit, 💥 breaking-change

feat(devices): accept client-provided deviceId and store as device_fingerprint (#74)
  src/modules/app/migrations/1741478400000-MakeDeviceFingerprintNullable.ts
  src/modules/devices/entities/device.entity.ts
  src/modules/devices/repositories/device.repository.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
  src/modules/devices/types/device-registration-data.interface.ts
  src/modules/phone-auth/dto/base-auth.dto.ts
  src/modules/phone-auth/interfaces/device-info.interface.ts
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🗄️ database, 📋 api:dto, 🧪 tests:unit, 💥 breaking-change

feat(devices): accept client-provided deviceId and store as device_fingerprint (#74)
  src/modules/app/migrations/1741478400000-MakeDeviceFingerprintNullable.ts
  src/modules/devices/entities/device.entity.ts
  src/modules/devices/repositories/device.repository.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
  src/modules/devices/types/device-registration-data.interface.ts
  src/modules/phone-auth/dto/base-auth.dto.ts
  src/modules/phone-auth/interfaces/device-info.interface.ts
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🗄️ database, 📋 api:dto, 🧪 tests:unit, 💥 breaking-change

fix(devices): revert nullable device_fingerprint and enforce server-side generation
  src/modules/app/migrations/1741564800000-AddDeviceFingerprintNotNull.ts
  src/modules/devices/entities/device.entity.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.spec.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
  src/modules/devices/types/device-registration-data.interface.ts
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🗄️ database, 📋 api:dto, 🧪 tests:unit, 💥 breaking-change

fix(devices): delete MakeDeviceFingerprintNullable migration
  src/modules/app/migrations/1741478400000-MakeDeviceFingerprintNullable.ts
Labels: 💥 breaking-change

fix(devices): add deviceFingerprint to gRPC registerDevice call
  src/grpc/auth.grpc.service.ts
Labels: 🔗 api:grpc, 🌍 external

fix(devices): revert nullable device_fingerprint and enforce server-side generation (#75)
  src/grpc/auth.grpc.service.ts
  src/modules/app/migrations/1741478400000-MakeDeviceFingerprintNullable.ts
  src/modules/app/migrations/1741564800000-AddDeviceFingerprintNotNull.ts
  src/modules/devices/entities/device.entity.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.spec.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
  src/modules/devices/types/device-registration-data.interface.ts
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🗄️ database, 🔗 api:grpc, 📋 api:dto, 🧪 tests:unit, 💥 breaking-change, 🌍 external

fix(devices): revert nullable device_fingerprint and enforce server-side generation (#75)
  src/grpc/auth.grpc.service.ts
  src/modules/app/migrations/1741478400000-MakeDeviceFingerprintNullable.ts
  src/modules/app/migrations/1741564800000-AddDeviceFingerprintNotNull.ts
  src/modules/devices/entities/device.entity.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.spec.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
  src/modules/devices/types/device-registration-data.interface.ts
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🗄️ database, 🔗 api:grpc, 📋 api:dto, 🧪 tests:unit, 💥 breaking-change, 🌍 external

fix(devices): revert nullable device_fingerprint and enforce server-side generation (#75)
  src/grpc/auth.grpc.service.ts
  src/modules/app/migrations/1741478400000-MakeDeviceFingerprintNullable.ts
  src/modules/app/migrations/1741564800000-AddDeviceFingerprintNotNull.ts
  src/modules/devices/entities/device.entity.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.spec.ts
  src/modules/devices/quick-response-code/services/quick-response-code.service.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
  src/modules/devices/types/device-registration-data.interface.ts
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🗄️ database, 🔗 api:grpc, 📋 api:dto, 🧪 tests:unit, 💥 breaking-change, 🌍 external

fix(signal): upsert signed prekey and replace prekeys on device re-login
  src/modules/signal/repositories/prekey.repository.ts
  src/modules/signal/repositories/signed-prekey.repository.ts
  src/modules/signal/services/signal-key-storage.service.spec.ts
  src/modules/signal/services/signal-key-storage.service.ts
  test/login.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(signal): upsert signed prekey and replace prekeys on device re-login (#76)
  src/modules/signal/repositories/prekey.repository.ts
  src/modules/signal/repositories/signed-prekey.repository.ts
  src/modules/signal/services/signal-key-storage.service.spec.ts
  src/modules/signal/services/signal-key-storage.service.ts
  test/login.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(signal): upsert signed prekey and replace prekeys on device re-login (#76)
  src/modules/signal/repositories/prekey.repository.ts
  src/modules/signal/repositories/signed-prekey.repository.ts
  src/modules/signal/services/signal-key-storage.service.spec.ts
  src/modules/signal/services/signal-key-storage.service.ts
  test/login.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(signal): upsert signed prekey and replace prekeys on device re-login (#76)
  src/modules/signal/repositories/prekey.repository.ts
  src/modules/signal/repositories/signed-prekey.repository.ts
  src/modules/signal/services/signal-key-storage.service.spec.ts
  src/modules/signal/services/signal-key-storage.service.ts
  test/login.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

feat(config): use Docker Compose secrets for JWT keys and validate at startup
  .gitignore
  docker/dev/compose.yml
  docker/prod/compose.yml
  src/config/jwt-keys.config.spec.ts
  src/config/jwt-keys.config.ts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/modules/app/app.module.ts
  src/modules/phone-auth/config/jwt.config.ts
Labels: ⚙️ config, 🧪 tests:unit, 🐳 devops:docker, 💥 breaking-change
