Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

scripts: fix shell interpreter used to run the entrypoint script of the dev dockerfile
  docker/dev/Dockerfile
Labels: 🐳 devops:docker

fix: copilot review warnings in auth.module
  src/modules/auth.module.ts
Labels: 🔐 auth:core, 💥 breaking-change

fix: copilot review warnings in auth.module
  src/modules/auth.module.ts
Labels: 🔐 auth:core, 💥 breaking-change

fix: copilot review warnings in auth.module
  src/modules/auth.module.ts
Labels: 🔐 auth:core, 💥 breaking-change

deps: update bcrypt
  package-lock.json
  package.json
Labels: 📦 dependencies

deps: update bcrypt
  package-lock.json
  package.json
Labels: 📦 dependencies

deps: update bcrypt
  package-lock.json
  package.json
Labels: 📦 dependencies

remove(typeorm.ts): commented code
  src/factories/typeorm.ts
Labels: none

remove(typeorm.ts): commented code
  src/factories/typeorm.ts
Labels: none

remove(typeorm.ts): commented code
  src/factories/typeorm.ts
Labels: none

fix: failing tests after jest update
  src/services/device.service.spec.ts
  src/services/token.service.spec.ts
Labels: 📱 auth:devices, 🧪 tests:unit, ⚡ performance

fix: failing tests after jest update
  src/services/device.service.spec.ts
  src/services/token.service.spec.ts
Labels: 📱 auth:devices, 🧪 tests:unit, ⚡ performance

fix: failing tests after jest update
  src/services/device.service.spec.ts
  src/services/token.service.spec.ts
Labels: 📱 auth:devices, 🧪 tests:unit, ⚡ performance

scripts: add a test recipe to justfile
  Justfile
Labels: none

scripts: add a test recipe to justfile
  Justfile
Labels: none

scripts: add a test recipe to justfile
  Justfile
Labels: none

config: make jest test output verbose to display the specs
  package.json
Labels: 📦 dependencies

config: make jest test output verbose to display the specs
  package.json
Labels: 📦 dependencies

config: make jest test output verbose to display the specs
  package.json
Labels: 📦 dependencies

config: fix eslint config for version 9
  .eslintrc.js
  eslint.config.js
  package-lock.json
  package.json
Labels: ⚙️ config, 📦 dependencies, 🎨 tools:linting

config: fix eslint config for version 9
  .eslintrc.js
  eslint.config.js
  package-lock.json
  package.json
Labels: ⚙️ config, 📦 dependencies, 🎨 tools:linting

config: fix eslint config for version 9
  .eslintrc.js
  eslint.config.js
  package-lock.json
  package.json
Labels: ⚙️ config, 📦 dependencies, 🎨 tools:linting

linter: fix eslint errors
  src/guards/jwt-auth.guard.ts
  src/services/device.service.spec.ts
  src/services/token.service.spec.ts
  src/services/token.service.ts
  src/services/verification.service.ts
Labels: 🎫 auth:tokens, 📱 auth:devices, 🛡️ security:guards, 🧪 tests:unit, ⚡ performance

linter: fix eslint errors
  src/guards/jwt-auth.guard.ts
  src/services/device.service.spec.ts
  src/services/token.service.spec.ts
  src/services/token.service.ts
  src/services/verification.service.ts
Labels: 🎫 auth:tokens, 📱 auth:devices, 🛡️ security:guards, 🧪 tests:unit, ⚡ performance

linter: fix eslint errors
  src/guards/jwt-auth.guard.ts
  src/services/device.service.spec.ts
  src/services/token.service.spec.ts
  src/services/token.service.ts
  src/services/verification.service.ts
Labels: 🎫 auth:tokens, 📱 auth:devices, 🛡️ security:guards, 🧪 tests:unit, ⚡ performance

tests: fix failing e2e app test
  test/setup-e2e.ts
Labels: 🔬 tests:e2e

tests: fix failing e2e app test
  test/setup-e2e.ts
Labels: 🔬 tests:e2e

tests: fix failing e2e app test
  test/setup-e2e.ts
Labels: 🔬 tests:e2e

ci: update production dockerfile path
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

ci: update production dockerfile path
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

ci: update production dockerfile path
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

docker: launching production dockerfile
  Justfile
  docker/dev/compose.yml
  docker/dev/init.sql
  docker/dev/redis.conf
  docker/prod/Dockerfile
  docker/prod/Dockerfile.dockerignore
  docker/prod/compose.yml
  docker/prod/health-check.ts
  docker/prod/redis.conf
Labels: 🐳 devops:docker

docker: launching production dockerfile
  Justfile
  docker/dev/compose.yml
  docker/dev/init.sql
  docker/dev/redis.conf
  docker/prod/Dockerfile
  docker/prod/Dockerfile.dockerignore
  docker/prod/compose.yml
  docker/prod/health-check.ts
  docker/prod/redis.conf
Labels: 🐳 devops:docker

docker: launching production dockerfile
  Justfile
  docker/dev/compose.yml
  docker/dev/init.sql
  docker/dev/redis.conf
  docker/prod/Dockerfile
  docker/prod/Dockerfile.dockerignore
  docker/prod/compose.yml
  docker/prod/health-check.ts
  docker/prod/redis.conf
Labels: 🐳 devops:docker

docs: add swagger decorators to DTOs
  src/dto/auth/login-confirm.dto.ts
  src/dto/auth/login.dto.ts
  src/dto/auth/qr-auth-confirm.dto.ts
  src/dto/auth/qr-auth-request.dto.ts
  src/dto/auth/refresh-token.dto.ts
  src/dto/auth/register-verify-confirm.dto.ts
  src/dto/auth/register-verify-request.dto.ts
  src/dto/auth/register.dto.ts
  src/dto/auth/scan-login.dto.ts
  src/dto/auth/two-factor-setup.dto.ts
  src/dto/auth/two-factor-verify.dto.ts
  src/dto/auth/verification-confirm.dto.ts
  src/dto/auth/verification-request.dto.ts
  src/services/auth.service.ts
Labels: 🔐 auth:core, 🔒 auth:2fa, 📋 api:dto, ⚡ performance

docs: add swagger decorators to DTOs
  src/dto/auth/login-confirm.dto.ts
  src/dto/auth/login.dto.ts
  src/dto/auth/qr-auth-confirm.dto.ts
  src/dto/auth/qr-auth-request.dto.ts
  src/dto/auth/refresh-token.dto.ts
  src/dto/auth/register-verify-confirm.dto.ts
  src/dto/auth/register-verify-request.dto.ts
  src/dto/auth/register.dto.ts
  src/dto/auth/scan-login.dto.ts
  src/dto/auth/two-factor-setup.dto.ts
  src/dto/auth/two-factor-verify.dto.ts
  src/dto/auth/verification-confirm.dto.ts
  src/dto/auth/verification-request.dto.ts
  src/services/auth.service.ts
Labels: 🔐 auth:core, 🔒 auth:2fa, 📋 api:dto, ⚡ performance

docs: add swagger decorators to DTOs
  src/dto/auth/login-confirm.dto.ts
  src/dto/auth/login.dto.ts
  src/dto/auth/qr-auth-confirm.dto.ts
  src/dto/auth/qr-auth-request.dto.ts
  src/dto/auth/refresh-token.dto.ts
  src/dto/auth/register-verify-confirm.dto.ts
  src/dto/auth/register-verify-request.dto.ts
  src/dto/auth/register.dto.ts
  src/dto/auth/scan-login.dto.ts
  src/dto/auth/two-factor-setup.dto.ts
  src/dto/auth/two-factor-verify.dto.ts
  src/dto/auth/verification-confirm.dto.ts
  src/dto/auth/verification-request.dto.ts
  src/services/auth.service.ts
Labels: 🔐 auth:core, 🔒 auth:2fa, 📋 api:dto, ⚡ performance

docker: remove dev dockerignore
  docker/dev/Dockerfile.dockerignore
Labels: 🐳 devops:docker

docker: remove dev dockerignore
  docker/dev/Dockerfile.dockerignore
Labels: 🐳 devops:docker

docker: remove dev dockerignore
  docker/dev/Dockerfile.dockerignore
Labels: 🐳 devops:docker

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'
