Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'

fix(auth): address PR review comments
  .github/workflows/cd.yml
  src/modules/app/app.module.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/tokens/config/jwt.config.spec.ts
  src/modules/tokens/config/jwt.config.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, ⚡ devops:ci-cd, 💥 breaking-change

fix(auth): address PR review comments
  .github/workflows/cd.yml
  src/modules/app/app.module.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/tokens/config/jwt.config.spec.ts
  src/modules/tokens/config/jwt.config.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, ⚡ devops:ci-cd, 💥 breaking-change

ci(release): add automated release workflow on deploy/preprod merge
  .github/workflows/release.yml
Labels: ⚡ devops:ci-cd

ci(release): add automated release workflow on deploy/preprod merge
  .github/workflows/release.yml
Labels: ⚡ devops:ci-cd

[SPRINT 7] Release auth-service
  .github/workflows/cd.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CLAUDE.md
  docker/prod/Dockerfile
  docker/test/entrypoint.sh
  package-lock.json
  package.json
  sonar-project.properties
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/main.ts
  src/modules/app/app.module.ts
  src/modules/devices/services/devices.service.spec.ts
  src/modules/devices/services/devices.service.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.spec.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/phone-auth/dto/logout.dto.ts
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/tokens/config/jwt.config.spec.ts
  src/modules/tokens/config/jwt.config.ts
  src/shared/events/index.ts
  src/shared/redis/index.ts
  src/shared/redis/redis-stream-producer.service.spec.ts
  src/shared/redis/redis-stream-producer.service.ts
  test/logout.e2e-spec.ts
  test/setup-e2e.ts
Labels: ⚙️ config, 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 📜 devops:scripts, 📖 documentation, 📦 dependencies, 🔒 tools:security, 💥 breaking-change, ⚡ performance

[SPRINT 7] Release auth-service
  .github/workflows/cd.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CLAUDE.md
  docker/prod/Dockerfile
  docker/test/entrypoint.sh
  package-lock.json
  package.json
  sonar-project.properties
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/main.ts
  src/modules/app/app.module.ts
  src/modules/devices/services/devices.service.spec.ts
  src/modules/devices/services/devices.service.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.spec.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/phone-auth/dto/logout.dto.ts
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/tokens/config/jwt.config.spec.ts
  src/modules/tokens/config/jwt.config.ts
  src/shared/events/index.ts
  src/shared/redis/index.ts
  src/shared/redis/redis-stream-producer.service.spec.ts
  src/shared/redis/redis-stream-producer.service.ts
  test/logout.e2e-spec.ts
  test/setup-e2e.ts
Labels: ⚙️ config, 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 📜 devops:scripts, 📖 documentation, 📦 dependencies, 🔒 tools:security, 💥 breaking-change, ⚡ performance

docs(claude): add release versioning section and update sprint to 8
  CLAUDE.md
Labels: 📖 documentation

docs(claude): add release versioning section and update sprint to 8
  CLAUDE.md
Labels: 📖 documentation

début doc endpoints API auth
  docs/api-endpoints.md
Labels: 📖 documentation

début doc endpoints API auth
  docs/api-endpoints.md
Labels: 📖 documentation

ajout endpoint confirmation code OTP
  docs/api-endpoints.md
Labels: 📖 documentation

ajout endpoint confirmation code OTP
  docs/api-endpoints.md
Labels: 📖 documentation

ajout endpoint refresh token
  docs/api-endpoints.md
Labels: 📖 documentation

ajout endpoint refresh token
  docs/api-endpoints.md
Labels: 📖 documentation

ajout endpoint révocation token
  docs/api-endpoints.md
Labels: 📖 documentation

ajout endpoint révocation token
  docs/api-endpoints.md
Labels: 📖 documentation

ajout endpoint liste des appareils
  docs/api-endpoints.md
Labels: 📖 documentation

ajout endpoint liste des appareils
  docs/api-endpoints.md
Labels: 📖 documentation

ajout endpoint JWKS
  docs/api-endpoints.md
Labels: 📖 documentation

ajout endpoint JWKS
  docs/api-endpoints.md
Labels: 📖 documentation

doc protocole Signal
  docs/signal-protocol.md
Labels: 📖 documentation

doc protocole Signal
  docs/signal-protocol.md
Labels: 📖 documentation

ajout schéma échange de clés
  docs/signal-protocol.md
Labels: 📖 documentation

ajout schéma échange de clés
  docs/signal-protocol.md
Labels: 📖 documentation

doc flux 2FA
  docs/two-factor-auth.md
Labels: 📖 documentation

doc flux 2FA
  docs/two-factor-auth.md
Labels: 📖 documentation

doc gestion des appareils
  docs/device-management.md
Labels: 📖 documentation

doc gestion des appareils
  docs/device-management.md
Labels: 📖 documentation

doc rate limiting
  docs/rate-limiting.md
Labels: 📖 documentation

doc rate limiting
  docs/rate-limiting.md
Labels: 📖 documentation

doc cycle de vie des tokens
  docs/token-lifecycle.md
Labels: 📖 documentation

doc cycle de vie des tokens
  docs/token-lifecycle.md
Labels: 📖 documentation

doc codes d'erreur API
  docs/error-codes.md
Labels: 📖 documentation

doc codes d'erreur API
  docs/error-codes.md
Labels: 📖 documentation

doc migrations base de données
  docs/migrations.md
Labels: 📖 documentation

doc migrations base de données
  docs/migrations.md
Labels: 📖 documentation

doc accès Swagger
  docs/swagger.md
Labels: 📖 documentation

doc accès Swagger
  docs/swagger.md
Labels: 📖 documentation

doc Docker
  docs/docker.md
Labels: 📖 documentation

doc Docker
  docs/docker.md
Labels: 📖 documentation
