Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'

docs(swagger): add @ApiProperty to TwoFactorSetupDto and TwoFactorVerifyDto (#88)
  src/modules/two-factor-authentication/dto/two-factor-setup.dto.ts
  src/modules/two-factor-authentication/dto/two-factor-verify.dto.ts
Labels: 📋 api:dto, 💥 breaking-change

docs(swagger): add @ApiProperty to TwoFactorSetupDto and TwoFactorVerifyDto (#88)
  src/modules/two-factor-authentication/dto/two-factor-setup.dto.ts
  src/modules/two-factor-authentication/dto/two-factor-verify.dto.ts
Labels: 📋 api:dto, 💥 breaking-change

chore(test): align E2E test config with Docker Compose isolated test stack
  .husky/pre-push
  docker/test/Dockerfile
  docker/test/compose.yml
  docker/test/entrypoint.sh
  docker/test/init.sql
  package.json
Labels: 🐳 devops:docker, 📜 devops:scripts, 📦 dependencies

chore(test): align E2E test config with Docker Compose isolated test stack (#89)
  .husky/pre-push
  docker/test/Dockerfile
  docker/test/compose.yml
  docker/test/entrypoint.sh
  docker/test/init.sql
  package.json
Labels: 🐳 devops:docker, 📜 devops:scripts, 📦 dependencies

chore(test): align E2E test config with Docker Compose isolated test stack (#89)
  .husky/pre-push
  docker/test/Dockerfile
  docker/test/compose.yml
  docker/test/entrypoint.sh
  docker/test/init.sql
  package.json
Labels: 🐳 devops:docker, 📜 devops:scripts, 📦 dependencies

chore(cd): update infrastructure manifest path to k8s/whispr/production/
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

chore(cd): update infrastructure manifest path to k8s/whispr/production/
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

ci: add deploy/avant-preprod and deploy/preprod triggers
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

ci: push deploy-preprod image tag on deploy/preprod branch
  .github/workflows/ci.yml
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

fix: fix healthcheck for distroless image and wrong endpoint path
  docker/prod/Dockerfile
  src/docker/health-check.ts
Labels: 🐳 devops:docker

fix(test): update health-check spec to match new port and endpoint path
  src/docker/health-check.spec.ts
Labels: 🧪 tests:unit

fix(migration): remove hardcoded auth schema from devices table
  src/modules/app/migrations/1741651200000-FixDeviceFingerprintCompositeUnique.ts
Labels: 💥 breaking-change

docs: add CLAUDE.md AI agent workflow
  CLAUDE.md
Labels: 📖 documentation

docs(workflow): update current sprint to Sprint 6 in agent workflow
  CLAUDE.md
  package-lock.json
Labels: 📖 documentation, 📦 dependencies

chore(ci): migrate Sonar analysis to SonarCloud for free OSS analysis
  .github/workflows/tests.yml
  sonar-project.properties
Labels: ⚡ devops:ci-cd, 🔒 tools:security

chore(ci): enable SonarCloud analysis on all branches
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

chore(ci): fix SonarCloud security hotspots in tests workflow
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

chore(ci): fix trivy-action version and sonar quality gate wait
  .github/workflows/trivy.yml
  sonar-project.properties
Labels: ⚡ devops:ci-cd, 🔒 tools:security

chore(ci): fix invalid trivy-action version in docker workflow
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

chore(ci): migrate Sonar analysis to SonarCloud for free OSS analysis (#91)
  .github/workflows/docker.yml
  .github/workflows/tests.yml
  .github/workflows/trivy.yml
  sonar-project.properties
Labels: ⚡ devops:ci-cd, 🔒 tools:security

chore(ci): migrate Sonar analysis to SonarCloud for free OSS analysis (#91)
  .github/workflows/docker.yml
  .github/workflows/tests.yml
  .github/workflows/trivy.yml
  sonar-project.properties
Labels: ⚡ devops:ci-cd, 🔒 tools:security

chore: regenerate package-lock.json to sync with current main
  package-lock.json
Labels: 📦 dependencies

Add CLAUDE.md (#90)
  CLAUDE.md
  package-lock.json
Labels: 📖 documentation, 📦 dependencies

Add CLAUDE.md (#90)
  CLAUDE.md
  package-lock.json
Labels: 📖 documentation, 📦 dependencies

chore(deps): update npm dependencies
  package-lock.json
Labels: 📦 dependencies

chore(deps): update npm dependencies (#93)
  package-lock.json
Labels: 📦 dependencies

chore(deps): update npm dependencies (#93)
  package-lock.json
Labels: 📦 dependencies

chore(docker): optimize dev image for k3d/Tilt workflow
  .dockerignore
  docker/dev/compose.yml
  docker/dev/entrypoint.sh
  docker/dev/init.sql
  docker/dev/redis.conf
  docker/dev/requirements.txt
Labels: 🐳 devops:docker, 📜 devops:scripts

chore(docker): optimize dev image for k3d/Tilt workflow (#94)
  .dockerignore
  docker/dev/compose.yml
  docker/dev/entrypoint.sh
  docker/dev/init.sql
  docker/dev/redis.conf
  docker/dev/requirements.txt
Labels: 🐳 devops:docker, 📜 devops:scripts

chore(docker): optimize dev image for k3d/Tilt workflow (#94)
  .dockerignore
  docker/dev/compose.yml
  docker/dev/entrypoint.sh
  docker/dev/init.sql
  docker/dev/redis.conf
  docker/dev/requirements.txt
Labels: 🐳 devops:docker, 📜 devops:scripts

fix(jwks): remove duplicated auth prefix from JwksController path
  src/modules/jwks/jwks.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

fix(jwks): remove duplicated auth prefix from JwksController path
  test/jwks.e2e-spec.ts
Labels: 🔬 tests:e2e

refactor: remove auth/ prefix from controllers, centralize e2e bootstrap
  src/modules/devices/controllers/devices.controller.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  test/app.e2e-spec.ts
  test/helpers/create-test-app.ts
  test/jwks.e2e-spec.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
Labels: 🎮 api:controllers, 🔬 tests:e2e, 💥 breaking-change

fix(docker): add COPY . . to dev Dockerfile to populate /workspace
  docker/dev/Dockerfile
Labels: 🐳 devops:docker

fix(security): replace Math.random() with crypto.randomInt() for CSPRNG
  src/modules/phone-verification/services/verification-code-generator/verification-code-generator.service.spec.ts
  src/modules/phone-verification/services/verification-code-generator/verification-code-generator.service.ts
  src/modules/signal/repositories/prekey.repository.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(security): use node:crypto protocol import per SonarCloud recommendation
  src/modules/phone-verification/services/verification-code-generator/verification-code-generator.service.ts
  src/modules/signal/repositories/prekey.repository.ts
Labels: 💥 breaking-change

docs(claude): add CLAUDE.md to remote and ignore CLAUDE.local.md
  .gitignore
  CLAUDE.md
Labels: 📖 documentation

docs(claude): add CLAUDE.md to remote and ignore CLAUDE.local.md
  .gitignore
  CLAUDE.md
Labels: 📖 documentation

docs(claude): address Copilot review comments on CLAUDE.md
  CLAUDE.md
Labels: 📖 documentation

docs(claude): address Copilot review comments on CLAUDE.md
  CLAUDE.md
Labels: 📖 documentation
