Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'

fix(cd): push infrastructure changes to correct branch based on trigger
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(cd): push infrastructure changes to correct branch based on trigger
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(phone-auth): raise verification rate limit for local development
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 💥 breaking-change

fix(phone-auth): raise verification rate limit for local development
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 💥 breaking-change

feat(cors): enable CORS for cross-origin requests
  src/main.ts
Labels: ⚙️ config, 💥 breaking-change

feat(cors): enable CORS for cross-origin requests
  src/main.ts
Labels: ⚙️ config, 💥 breaking-change

fix(health-check): restore /v1 in health-check path
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/signal/controllers/signal-keys.controller.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

fix(health-check): restore /v1 in health-check path
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/signal/controllers/signal-keys.controller.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

fix(health-check): align default HTTP port with app default (3001)
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
Labels: 🧪 tests:unit

fix(health-check): align default HTTP port with app default (3001)
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
Labels: 🧪 tests:unit

feat(cors): restrict CORS to whitelisted origins via CORS_ORIGINS env var
  docker/prod/.env.example
  src/docker/check-env.ts
  src/main.ts
Labels: ⚙️ config, 🐳 devops:docker, 💥 breaking-change

feat(cors): restrict CORS to whitelisted origins via CORS_ORIGINS env var
  docker/prod/.env.example
  src/docker/check-env.ts
  src/main.ts
Labels: ⚙️ config, 🐳 devops:docker, 💥 breaking-change

docs(adr): add ADR template, index and records for CORS and API versioning
  documentation/src/SUMMARY.md
  documentation/src/explanation/adr/0002-cors-origin-whitelist.md
  documentation/src/explanation/adr/0003-api-versioning-uri-prefix.md
  documentation/src/explanation/adr/README.md
  documentation/src/explanation/adr/template.md
Labels: 📖 documentation

docs(adr): add ADR template, index and records for CORS and API versioning
  documentation/src/SUMMARY.md
  documentation/src/explanation/adr/0002-cors-origin-whitelist.md
  documentation/src/explanation/adr/0003-api-versioning-uri-prefix.md
  documentation/src/explanation/adr/README.md
  documentation/src/explanation/adr/template.md
Labels: 📖 documentation

chore(ci): restrict triggers to main branch only
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

chore(ci): restrict triggers to main branch only (#158)
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

chore(ci): restrict triggers to main branch only (#158)
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

chore(gitignore): untrack .vscode/ directory
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

fix(phone-auth): pass wrong-purpose message to BadRequestException
  src/modules/phone-auth/dto/logout.dto.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
Labels: 🎮 api:controllers, 📋 api:dto, 💥 breaking-change

chore(gitignore): untrack .vscode/ directory (#159)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

chore(gitignore): untrack .vscode/ directory (#159)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

fix(phone-auth): pass wrong-purpose message to BadRequestException (#160)
  src/modules/phone-auth/dto/logout.dto.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
Labels: 🎮 api:controllers, 📋 api:dto, 💥 breaking-change

fix(phone-auth): pass wrong-purpose message to BadRequestException (#160)
  src/modules/phone-auth/dto/logout.dto.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/phone-verification/controllers/phone-verification.controller.ts
Labels: 🎮 api:controllers, 📋 api:dto, 💥 breaking-change

fix(cd): update all manifest directories on main push
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(cd): update all manifest directories on main push
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(cd): update all manifest directories on main push
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(cd): update all manifest directories on main push
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(tokens): add issuer and audience claims to signed JWT tokens
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/modules/tokens/config/jwt.config.ts
Labels: ⚙️ config, 🧪 tests:unit, 💥 breaking-change

fix(ci): add JWT_ISSUER and JWT_AUDIENCE env vars to e2e test step
  .github/workflows/tests.yml
Labels: ⚡ devops:ci-cd

fix(tokens): add issuer and audience claims to signed JWT tokens (#161)
  .github/workflows/tests.yml
  CLAUDE.md
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/modules/tokens/config/jwt.config.ts
Labels: ⚙️ config, 🧪 tests:unit, ⚡ devops:ci-cd, 📖 documentation, 💥 breaking-change

fix(tokens): add issuer and audience claims to signed JWT tokens (#161)
  .github/workflows/tests.yml
  CLAUDE.md
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/modules/tokens/config/jwt.config.ts
Labels: ⚙️ config, 🧪 tests:unit, ⚡ devops:ci-cd, 📖 documentation, 💥 breaking-change

fix(test): ajouter JWT_ISSUER et JWT_AUDIENCE au bootstrap e2e
  test/setup-e2e.ts
Labels: 🔬 tests:e2e

fix(phone-auth): imposer la vérification de propriété du device au logout
  src/modules/devices/services/devices.service.spec.ts
  src/modules/devices/services/devices.service.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.spec.ts
  src/modules/phone-auth/controllers/phone-authentication.controller.ts
  src/modules/phone-auth/dto/logout.dto.ts
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
  test/logout.e2e-spec.ts
Labels: 🎮 api:controllers, 📋 api:dto, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

chore(ci): auto fast-forward deploy/preprod with main on infra sync
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

chore(ci): auto fast-forward deploy/preprod with main on infra sync
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(auth): nettoie les revocations device au login et préserve le motif (WHISPR-919)
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/tokens/guards/jwt-auth.guard.spec.ts
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🛡️ security:guards, 🧪 tests:unit, 💥 breaking-change

fix(auth): nettoie les revocations device au login et préserve le motif (WHISPR-919)
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/tokens/guards/jwt-auth.guard.spec.ts
  src/modules/tokens/guards/jwt-auth.guard.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🛡️ security:guards, 🧪 tests:unit, 💥 breaking-change

ci(auth): déclenche la pipeline CI/CD sur push deploy/preprod (WHISPR-919)
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

ci(auth): déclenche la pipeline CI/CD sur push deploy/preprod (WHISPR-919)
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

test(auth): ajoute clearDeviceRevocation aux mocks e2e (WHISPR-919)
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
Labels: 🔬 tests:e2e
