Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

fix(auth): absolute cap 90j sur refresh token (anti-session-zombie)
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(auth): absolute cap 90j sur refresh token (anti-session-zombie)
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(security): strip /health public response (info disclosure)
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.swagger.ts
  src/modules/health/health.controller.ts
  test/app.e2e-spec.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(security): strip /health public response (info disclosure)
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.swagger.ts
  src/modules/health/health.controller.ts
  test/app.e2e-spec.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

chore(scheduler): reduire freq cron checkUsersWithLowPrekeys (1h -> 1j)
  src/modules/signal/services/signal-key-scheduler.service.ts
Labels: 💥 breaking-change

chore(scheduler): reduire freq cron checkUsersWithLowPrekeys (1h -> 1j)
  src/modules/signal/services/signal-key-scheduler.service.ts
Labels: 💥 breaking-change

feat(2fa): add POST /2fa/backup-codes/use recovery code endpoint
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.swagger.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

feat(2fa): add POST /2fa/backup-codes/use recovery code endpoint
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.spec.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.swagger.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

feat(devices): add UA-based device name builder for web sessions
  src/modules/devices/utils/ua-device-name.util.spec.ts
  src/modules/devices/utils/ua-device-name.util.ts
Labels: 🧪 tests:unit, 💥 breaking-change

feat(devices): add UA-based device name builder for web sessions
  src/modules/devices/utils/ua-device-name.util.spec.ts
  src/modules/devices/utils/ua-device-name.util.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(devices): prune oldest device on limit + use UA for web device name
  src/modules/devices/repositories/device.repository.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
  src/modules/devices/types/device-registration-data.interface.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 📋 api:dto, 🧪 tests:unit, 💥 breaking-change

fix(devices): prune oldest device on limit + use UA for web device name
  src/modules/devices/repositories/device.repository.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.ts
  src/modules/devices/types/device-registration-data.interface.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 📋 api:dto, 🧪 tests:unit, 💥 breaking-change

test(devices): increase UA parser coverage to 100% - add fallback branch tests
  src/modules/devices/utils/ua-device-name.util.spec.ts
Labels: 🧪 tests:unit, 💥 breaking-change

test(devices): increase UA parser coverage to 100% - add fallback branch tests
  src/modules/devices/utils/ua-device-name.util.spec.ts
Labels: 🧪 tests:unit, 💥 breaking-change

test(devices): cover repository + prune null-guard edge cases for Sonar gate
  src/modules/devices/repositories/device.repository.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
Labels: 🧪 tests:unit, 💥 breaking-change

test(devices): cover repository + prune null-guard edge cases for Sonar gate
  src/modules/devices/repositories/device.repository.spec.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
Labels: 🧪 tests:unit, 💥 breaking-change

refactor(devices): split extractOs into small pure functions - lower cognitive complexity
  src/modules/devices/utils/ua-device-name.util.ts
Labels: 💥 breaking-change

refactor(devices): split extractOs into small pure functions - lower cognitive complexity
  src/modules/devices/utils/ua-device-name.util.ts
Labels: 💥 breaking-change

fix(devices): remove backtracking regex for Safari UA parsing
  src/modules/devices/utils/ua-device-name.util.ts
Labels: 💥 breaking-change

fix(devices): remove backtracking regex for Safari UA parsing
  src/modules/devices/utils/ua-device-name.util.ts
Labels: 💥 breaking-change

fix(signal): validate keyId as int32 to prevent Postgres numeric overflow
  src/modules/phone-auth/dto/signal-keys.dto.ts
  src/modules/signal/dto/signal-keys.dto.ts
  test/login.e2e-spec.ts
Labels: 📋 api:dto, 🔬 tests:e2e, 💥 breaking-change

[RELEASE] Sync deploy/preprod into main (#196)
  src/modules/phone-auth/dto/signal-keys.dto.ts
  src/modules/signal/dto/signal-keys.dto.ts
  test/login.e2e-spec.ts
Labels: 📋 api:dto, 🔬 tests:e2e, 💥 breaking-change

chore(sonar): rename project to auth-service in SonarCloud UI
  sonar-project.properties
Labels: 🔒 tools:security

Adding E2E encyption V1
  package-lock.json
  src/modules/signal/controllers/signal-keys.controller.ts
  src/modules/signal/repositories/identity-key.repository.ts
  src/modules/signal/services/signal-key-storage.service.ts
  src/modules/signal/services/signal-prekey-bundle.service.ts
Labels: 🗄️ database, 🎮 api:controllers, 📦 dependencies, 💥 breaking-change

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'
