Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

fix(phone-auth): pass Redis password to event publisher client
  src/modules/phone-auth/phone-authentication.module.ts
Labels: 💥 breaking-change

fix: docker healthcheck distroless + redis password for phone-auth (#151)
  docker/prod/Dockerfile
  src/docker/health-check.ts
  src/modules/phone-auth/phone-authentication.module.ts
Labels: 🐳 devops:docker, 💥 breaking-change

fix: docker healthcheck distroless + redis password for phone-auth (#151)
  docker/prod/Dockerfile
  src/docker/health-check.ts
  src/modules/phone-auth/phone-authentication.module.ts
Labels: 🐳 devops:docker, 💥 breaking-change

Updates
  docker/prod/compose.yml
  docker/prod/config/init.sql
  package-lock.json
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/tokens/controllers/tokens.controller.ts
Labels: 🎮 api:controllers, 🐳 devops:docker, 📦 dependencies, 💥 breaking-change

fix(ci): docker e2e without TTY
  package.json
Labels: 📦 dependencies

fix: avoid blocking on redis emit during registration
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 💥 breaking-change

fix(auth): address PR #141 review comments
  docker/dev/Dockerfile
  docker/prod/compose.yml
  src/modules/phone-verification/controllers/phone-verification.controller.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/tokens/controllers/tokens.controller.ts
Labels: 🎮 api:controllers, 🐳 devops:docker, 💥 breaking-change

test(docker): update health-check spec to match current port and path
  src/docker/health-check.spec.ts
Labels: 🧪 tests:unit

fix(auth): éviter 429 JWKS + ne pas bloquer OTP en mode démo (#141)
  docker/prod/compose.yml
  docker/prod/config/init.sql
  package-lock.json
  package.json
  src/docker/health-check.spec.ts
  src/modules/health/health.controller.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/tokens/controllers/tokens.controller.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 🐳 devops:docker, 📦 dependencies, 💥 breaking-change

fix(auth): éviter 429 JWKS + ne pas bloquer OTP en mode démo (#141)
  docker/prod/compose.yml
  docker/prod/config/init.sql
  package-lock.json
  package.json
  src/docker/health-check.spec.ts
  src/modules/health/health.controller.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/tokens/controllers/tokens.controller.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 🐳 devops:docker, 📦 dependencies, 💥 breaking-change

chore(deps): restore missing peer deps in lockfile
  package-lock.json
Labels: 📦 dependencies

chore(claude): integrate git worktrees into agent workflow
  .gitignore
  CLAUDE.md
Labels: 📖 documentation

chore(claude): integrate git worktrees into agent workflow
  .gitignore
  CLAUDE.md
Labels: 📖 documentation

fix(phone-verification): reduce post-confirm verificationId TTL to 60 seconds
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(phone-verification): reject re-submission of code on already-confirmed verificationId
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

docs(phone-verification): add 429 response and clarify 400 descriptions on confirm endpoints
  src/modules/phone-verification/controllers/phone-verification.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

style(phone-verification): fix prettier formatting on confirm endpoint decorators
  src/modules/phone-verification/controllers/phone-verification.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

fix(phone-verification): cap post-confirm TTL to min(60s, remaining) and standardize TTL unit naming
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(phone-verification): throw BadRequestException when verificationId is expired at confirm time
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

docs(phone-verification): address review comments on confirm endpoint descriptions
  src/modules/phone-verification/controllers/phone-verification.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

fix(phone-verification): reject re-submission of code on already-confirmed verificationId (#154)
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(phone-verification): reject re-submission of code on already-confirmed verificationId (#154)
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(phone-verification): reduce post-confirm verificationId TTL to 60 seconds (#152)
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(phone-verification): reduce post-confirm verificationId TTL to 60 seconds (#152)
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

docs(phone-verification): add 429 response and clarify 400 descriptions on confirm endpoints
  src/modules/phone-verification/controllers/phone-verification.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

docs(phone-verification): add 429 response and clarify 400 descriptions on confirm endpoints
  src/modules/phone-verification/controllers/phone-verification.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

docs(claude): add Discord notification step to agent workflow
  CLAUDE.md
Labels: 📖 documentation

docs(claude): add Discord notification step to agent workflow
  CLAUDE.md
Labels: 📖 documentation

ci: add deploy/preprod to CI trigger branches
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

ci: add deploy/preprod to CI trigger branches
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

ci: add deploy/preprod to CI trigger branches
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

Revert "fix(test): remove URI versioning from e2e test helper"
  test/helpers/create-test-app.ts
Labels: 🔬 tests:e2e

Revert "fix(test): remove URI versioning from e2e test helper"
  test/helpers/create-test-app.ts
Labels: 🔬 tests:e2e

Revert "chore: remove /v1 URI versioning from all API routes"
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/signal/controllers/signal-keys.controller.ts
  test/app.e2e-spec.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

Revert "chore: remove /v1 URI versioning from all API routes"
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/signal/controllers/signal-keys.controller.ts
  test/app.e2e-spec.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

ci: enable Docker build and deploy for deploy/preprod branch
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

ci: enable Docker build and deploy for deploy/preprod branch
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

ci: enable Docker build and deploy for deploy/preprod branch
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

ci: enable deploy gate for deploy/preprod branch
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

ci: enable deploy gate for deploy/preprod branch
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'
