Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'

test(e2e): update test setup to use JWT key files instead of env vars
  test/setup-e2e.ts
Labels: 🔬 tests:e2e

test(config): generate ephemeral EC keys in spec instead of embedding literals
  src/config/jwt-keys.config.spec.ts
Labels: ⚙️ config, 🧪 tests:unit

feat(config): use Docker Compose secrets for JWT keys and validate at startup (#77)
  .gitignore
  docker/dev/compose.yml
  docker/prod/compose.yml
  src/config/jwt-keys.config.spec.ts
  src/config/jwt-keys.config.ts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/modules/app/app.module.ts
  src/modules/phone-auth/config/jwt.config.ts
  test/setup-e2e.ts
Labels: ⚙️ config, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, 💥 breaking-change

feat(config): use Docker Compose secrets for JWT keys and validate at startup (#77)
  .gitignore
  docker/dev/compose.yml
  docker/prod/compose.yml
  src/config/jwt-keys.config.spec.ts
  src/config/jwt-keys.config.ts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/modules/app/app.module.ts
  src/modules/phone-auth/config/jwt.config.ts
  test/setup-e2e.ts
Labels: ⚙️ config, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, 💥 breaking-change

feat(config): use Docker Compose secrets for JWT keys and validate at startup (#77)
  .gitignore
  docker/dev/compose.yml
  docker/prod/compose.yml
  src/config/jwt-keys.config.spec.ts
  src/config/jwt-keys.config.ts
  src/docker/check-env.spec.ts
  src/docker/check-env.ts
  src/modules/app/app.module.ts
  src/modules/phone-auth/config/jwt.config.ts
  test/setup-e2e.ts
Labels: ⚙️ config, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, 💥 breaking-change

fix(config): read JWT key files directly in jwtModuleOptionsFactory
  src/modules/phone-auth/config/jwt.config.ts
Labels: ⚙️ config, 💥 breaking-change

fix(config): read JWT key files directly in jwtModuleOptionsFactory (#78)
  src/modules/phone-auth/config/jwt.config.ts
Labels: ⚙️ config, 💥 breaking-change

fix(config): read JWT key files directly in jwtModuleOptionsFactory (#78)
  src/modules/phone-auth/config/jwt.config.ts
Labels: ⚙️ config, 💥 breaking-change

fix(config): read JWT key files directly in jwtModuleOptionsFactory (#78)
  src/modules/phone-auth/config/jwt.config.ts
Labels: ⚙️ config, 💥 breaking-change

fix(tokens): move JwtModule ownership from PhoneAuthenticationModule to TokensModule
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/tokens/config/jwt.config.ts
  src/modules/tokens/tokens.module.ts
Labels: ⚙️ config, 💥 breaking-change

fix(tokens): move JwtModule ownership from PhoneAuthenticationModule to TokensModule (#79)
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/tokens/config/jwt.config.ts
  src/modules/tokens/tokens.module.ts
Labels: ⚙️ config, 💥 breaking-change

fix(tokens): move JwtModule ownership from PhoneAuthenticationModule to TokensModule (#79)
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/tokens/config/jwt.config.ts
  src/modules/tokens/tokens.module.ts
Labels: ⚙️ config, 💥 breaking-change

fix(tokens): move JwtModule ownership from PhoneAuthenticationModule to TokensModule (#79)
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/tokens/config/jwt.config.ts
  src/modules/tokens/tokens.module.ts
Labels: ⚙️ config, 💥 breaking-change

fix(tokens): remove expiresIn option from jwtService.sign calls
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(tokens): remove expiresIn option from jwtService.sign calls (#80)
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(tokens): remove expiresIn option from jwtService.sign calls (#80)
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(tokens): remove expiresIn option from jwtService.sign calls (#80)
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(tokens): remove global expiresIn from JwtModule signOptions
  src/modules/tokens/config/jwt.config.ts
Labels: ⚙️ config, 💥 breaking-change

fix(tokens): remove global expiresIn from JwtModule signOptions
  src/modules/tokens/config/jwt.config.ts
Labels: ⚙️ config, 💥 breaking-change

fix(tokens): remove global expiresIn from JwtModule signOptions
  src/modules/tokens/config/jwt.config.ts
Labels: ⚙️ config, 💥 breaking-change

fix(devices): replace global device_fingerprint unique constraint with composite per-user constraint
  src/modules/app/migrations/1741651200000-FixDeviceFingerprintCompositeUnique.ts
  src/modules/devices/entities/device.entity.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
Labels: 🗄️ database, 🧪 tests:unit, 💥 breaking-change

fix(devices): replace global device_fingerprint unique constraint with composite per-user constraint (#81)
  src/modules/app/migrations/1741651200000-FixDeviceFingerprintCompositeUnique.ts
  src/modules/devices/entities/device.entity.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
Labels: 🗄️ database, 🧪 tests:unit, 💥 breaking-change

fix(devices): replace global device_fingerprint unique constraint with composite per-user constraint (#81)
  src/modules/app/migrations/1741651200000-FixDeviceFingerprintCompositeUnique.ts
  src/modules/devices/entities/device.entity.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
Labels: 🗄️ database, 🧪 tests:unit, 💥 breaking-change

fix(devices): replace global device_fingerprint unique constraint with composite per-user constraint (#81)
  src/modules/app/migrations/1741651200000-FixDeviceFingerprintCompositeUnique.ts
  src/modules/devices/entities/device.entity.ts
  src/modules/devices/services/device-registration/device-registration.service.spec.ts
Labels: 🗄️ database, 🧪 tests:unit, 💥 breaking-change

feat(jwks): expose JWKS endpoint and add kid header to signed JWTs
  src/modules/auth.module.ts
  src/modules/jwks/jwks.controller.spec.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/jwks/jwks.module.ts
  src/modules/jwks/jwks.service.spec.ts
  src/modules/jwks/jwks.service.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/tokens.module.ts
  test/jwks.e2e-spec.ts
Labels: 🔐 auth:core, 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

feat(jwks): expose JWKS endpoint and add kid header to signed JWTs (#82)
  src/modules/auth.module.ts
  src/modules/jwks/jwks.controller.spec.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/jwks/jwks.module.ts
  src/modules/jwks/jwks.service.spec.ts
  src/modules/jwks/jwks.service.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/tokens.module.ts
  test/jwks.e2e-spec.ts
Labels: 🔐 auth:core, 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

feat(jwks): expose JWKS endpoint and add kid header to signed JWTs (#82)
  src/modules/auth.module.ts
  src/modules/jwks/jwks.controller.spec.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/jwks/jwks.module.ts
  src/modules/jwks/jwks.service.spec.ts
  src/modules/jwks/jwks.service.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  src/modules/tokens/tokens.module.ts
  test/jwks.e2e-spec.ts
Labels: 🔐 auth:core, 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(config): update port defaults to new mapping
  docker/prod/.env.example
  src/grpc/clients/media.grpc.client.ts
  src/grpc/clients/user.grpc.client.ts
  src/grpc/grpc.server.ts
  src/main.ts
Labels: ⚙️ config, 🔗 api:grpc, 🐳 devops:docker, 💥 breaking-change, 🌍 external

fix(config): update port defaults to new mapping (#83)
  docker/prod/.env.example
  src/grpc/clients/media.grpc.client.ts
  src/grpc/clients/user.grpc.client.ts
  src/grpc/grpc.server.ts
  src/main.ts
Labels: ⚙️ config, 🔗 api:grpc, 🐳 devops:docker, 💥 breaking-change, 🌍 external

ci: add deploy branches to CI/CD triggers
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ⚡ devops:ci-cd

ci(cd): use dynamic branch ref instead of hardcoded main
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(swagger): replace hardcoded server URLs with relative server entry
  src/swagger.ts
Labels: none

fix(swagger): replace hardcoded server URLs with relative server entry
  src/swagger.ts
Labels: none

fix(devices): remove hardcoded auth schema prefix from migration queries
  src/modules/app/migrations/1741651200000-FixDeviceFingerprintCompositeUnique.ts
Labels: 💥 breaking-change

fix(devices): remove hardcoded auth schema prefix from migration queries (#86)
  src/modules/app/migrations/1741651200000-FixDeviceFingerprintCompositeUnique.ts
Labels: 💥 breaking-change

fix(devices): remove hardcoded auth schema prefix from migration queries (#86)
  src/modules/app/migrations/1741651200000-FixDeviceFingerprintCompositeUnique.ts
Labels: 💥 breaking-change

docs(swagger): add missing OpenAPI decorators across controllers
  src/modules/devices/controllers/devices.controller.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/tokens/controllers/tokens.controller.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

docs(swagger): add missing OpenAPI decorators across controllers (#87)
  src/modules/devices/controllers/devices.controller.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/tokens/controllers/tokens.controller.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

docs(swagger): add missing OpenAPI decorators across controllers (#87)
  src/modules/devices/controllers/devices.controller.ts
  src/modules/devices/quick-response-code/controller/quick-response-code.controller.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/tokens/controllers/tokens.controller.ts
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

docs(swagger): add @ApiProperty to TwoFactorSetupDto and TwoFactorVerifyDto
  src/modules/two-factor-authentication/dto/two-factor-setup.dto.ts
  src/modules/two-factor-authentication/dto/two-factor-verify.dto.ts
Labels: 📋 api:dto, 💥 breaking-change
