Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

fix(tokens): pass aud and iss as sign options for ws-token (#175)
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  test/ws-token.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(tokens): inherit JWT_ISSUER for ws-token instead of hardcoded constant
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  test/ws-token.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(tokens): inherit JWT_ISSUER for ws-token instead of hardcoded constant (#176)
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  test/ws-token.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(tokens): inherit JWT_ISSUER for ws-token instead of hardcoded constant (#176)
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
  test/ws-token.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(tokens): renvoyer 503 au lieu de 401 quand Redis est indisponible sur /tokens/refresh
  src/modules/cache/cache.service.spec.ts
  src/modules/cache/cache.service.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change, ⚡ performance

fix(tokens): renvoyer 503 au lieu de 401 quand Redis est indisponible sur /tokens/refresh
  src/modules/cache/cache.service.spec.ts
  src/modules/cache/cache.service.ts
  src/modules/tokens/services/tokens.service.spec.ts
  src/modules/tokens/services/tokens.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change, ⚡ performance

fix(typeorm): coerce DB_PORT to number and prefer discrete DB_* vars over DB_URL
  src/modules/app/typeorm.spec.ts
  src/modules/app/typeorm.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(typeorm): coerce DB_PORT to number and prefer discrete DB_* vars over DB_URL
  src/modules/app/typeorm.spec.ts
  src/modules/app/typeorm.ts
Labels: 🧪 tests:unit, 💥 breaking-change

chore(security): ignore test files in gitguardian scan
  .gitguardian.yaml
Labels: none

chore(security): ignore test files in gitguardian scan
  .gitguardian.yaml
Labels: none

chore(security): retente avec paths_ignore (snake_case GG)
  .gitguardian.yaml
Labels: none

chore(security): retente avec paths_ignore (snake_case GG)
  .gitguardian.yaml
Labels: none

test(typeorm): extrait les credentials de test en constantes
  src/modules/app/typeorm.spec.ts
Labels: 🧪 tests:unit, 💥 breaking-change

test(typeorm): extrait les credentials de test en constantes
  src/modules/app/typeorm.spec.ts
Labels: 🧪 tests:unit, 💥 breaking-change

docs(claude): align with global rules §26 (no squash) + sprint refresh
  CLAUDE.md
Labels: 📖 documentation

docs(claude): align with global rules §26 (no squash) + sprint refresh
  CLAUDE.md
Labels: 📖 documentation

fix(otp): redact verification code from logs on SMS failure
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/phone-verification/strategies/sms-verification.strategy.ts
Labels: ⏱️ security:rate-limit, 💥 breaking-change, 🌍 external

fix(otp): redact verification code from logs on SMS failure
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/phone-verification/strategies/sms-verification.strategy.ts
Labels: ⏱️ security:rate-limit, 💥 breaking-change, 🌍 external

fix(2fa): rate limit verify endpoint per-user (5 attempts / 15 min)
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(2fa): rate limit verify endpoint per-user (5 attempts / 15 min)
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(2fa): prevent TOTP code replay within validity window
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(2fa): prevent TOTP code replay within validity window
  src/modules/two-factor-authentication/services/two-factor-authentication.service.spec.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

chore(deps): bump @nestjs/microservices to 11.1.19 (HIGH CVE DoS fix)
  package-lock.json
  package.json
Labels: 📦 dependencies

chore(deps): bump @nestjs/microservices to 11.1.19 (HIGH CVE DoS fix)
  package-lock.json
  package.json
Labels: 📦 dependencies

fix(throttler): skip rate limiting on health probes (preventing 429 k8s cascade)
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

fix(throttler): skip rate limiting on health probes (preventing 429 k8s cascade)
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

feat(security): add helmet middleware for HTTP security headers
  package-lock.json
  package.json
  src/main.ts
  test/helpers/create-test-app.ts
  test/security-headers.e2e-spec.ts
Labels: ⚙️ config, 🔬 tests:e2e, 📦 dependencies, 💥 breaking-change

feat(security): add helmet middleware for HTTP security headers
  package-lock.json
  package.json
  src/main.ts
  test/helpers/create-test-app.ts
  test/security-headers.e2e-spec.ts
Labels: ⚙️ config, 🔬 tests:e2e, 📦 dependencies, 💥 breaking-change

chore(deps): bump handlebars/lodash/picomatch via npm audit fix (CVE)
  package-lock.json
Labels: 📦 dependencies

chore(deps): bump handlebars/lodash/picomatch via npm audit fix (CVE)
  package-lock.json
Labels: 📦 dependencies

fix(auth): masquer OTP/phone dans les logs SMS (compliance/GDPR)
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/phone-verification/services/sms/sms.service.spec.ts
  src/modules/phone-verification/services/sms/sms.service.ts
  src/modules/phone-verification/strategies/sms-verification.strategy.ts
  src/utils/mask-phone.util.spec.ts
  src/utils/mask-phone.util.ts
Labels: ⏱️ security:rate-limit, 🧪 tests:unit, 💥 breaking-change, 🌍 external

fix(auth): masquer OTP/phone dans les logs SMS (compliance/GDPR)
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
  src/modules/phone-verification/services/sms/sms.service.spec.ts
  src/modules/phone-verification/services/sms/sms.service.ts
  src/modules/phone-verification/strategies/sms-verification.strategy.ts
  src/utils/mask-phone.util.spec.ts
  src/utils/mask-phone.util.ts
Labels: ⏱️ security:rate-limit, 🧪 tests:unit, 💥 breaking-change, 🌍 external

chore(observability): TypeORM maxQueryExecutionTime 500ms slow query log
  src/modules/app/typeorm.ts
Labels: 💥 breaking-change

chore(observability): TypeORM maxQueryExecutionTime 500ms slow query log
  src/modules/app/typeorm.ts
Labels: 💥 breaking-change

fix(2fa): rate limit anti brute-force TOTP (5/min controller, 3/min verify)
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

fix(2fa): rate limit anti brute-force TOTP (5/min controller, 3/min verify)
  src/modules/two-factor-authentication/controllers/two-factor-authentication.controller.ts
Labels: 🎮 api:controllers, 💥 breaking-change

fix(auth): OTP resend invalide ancien verificationId (anti-replay)
  src/modules/phone-verification/repositories/cache-verification.repository.spec.ts
  src/modules/phone-verification/repositories/cache-verification.repository.ts
  src/modules/phone-verification/repositories/verification.repository.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change, ⚡ performance

fix(auth): OTP resend invalide ancien verificationId (anti-replay)
  src/modules/phone-verification/repositories/cache-verification.repository.spec.ts
  src/modules/phone-verification/repositories/cache-verification.repository.ts
  src/modules/phone-verification/repositories/verification.repository.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.spec.ts
  src/modules/phone-verification/services/phone-verification/phone-verification.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change, ⚡ performance

fix(security): log audit identity key rotation (anti-MITM TOFU)
  src/modules/signal/repositories/identity-key.repository.spec.ts
  src/modules/signal/repositories/identity-key.repository.ts
Labels: 🗄️ database, 🧪 tests:unit, 💥 breaking-change

fix(security): log audit identity key rotation (anti-MITM TOFU)
  src/modules/signal/repositories/identity-key.repository.spec.ts
  src/modules/signal/repositories/identity-key.repository.ts
Labels: 🗄️ database, 🧪 tests:unit, 💥 breaking-change

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'
