Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

feat(phone-auth): add Redis pub/sub event logging for user.registered (#145)
  src/modules/phone-auth/services/phone-authentication.service.spec.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

fix(auth-service): clean sonar smells and harden signal migration
  src/config/jwt-keys.config.ts
  src/config/redis.config.ts
  src/docker/health-check.ts
  src/modules/app/migrations/1775396713000-AddMissingSignalColumns.ts
  src/modules/app/typeorm.ts
  src/modules/cache/cache.service.ts
  src/modules/health/health.controller.ts
  src/modules/health/twilio-health.indicator.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/phone-verification/services/phone-number/phone-number.service.ts
  src/modules/phone-verification/services/rate-limit/rate-limit.service.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/services/signal-key-scheduler.service.ts
  src/modules/signal/services/signal-prekey-bundle.service.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
Labels: ⚙️ config, 🎮 api:controllers, ⏱️ security:rate-limit, 💥 breaking-change, ⚡ performance, 🌍 external

fix(auth-service): clean sonar smells and harden signal migration (#146)
  src/config/jwt-keys.config.ts
  src/config/redis.config.ts
  src/docker/health-check.ts
  src/modules/app/migrations/1775396713000-AddMissingSignalColumns.ts
  src/modules/app/typeorm.ts
  src/modules/cache/cache.service.ts
  src/modules/health/health.controller.ts
  src/modules/health/twilio-health.indicator.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/phone-verification/services/phone-number/phone-number.service.ts
  src/modules/phone-verification/services/rate-limit/rate-limit.service.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/services/signal-key-scheduler.service.ts
  src/modules/signal/services/signal-prekey-bundle.service.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
Labels: ⚙️ config, 🎮 api:controllers, ⏱️ security:rate-limit, 💥 breaking-change, ⚡ performance, 🌍 external

fix(auth-service): clean sonar smells and harden signal migration (#146)
  src/config/jwt-keys.config.ts
  src/config/redis.config.ts
  src/docker/health-check.ts
  src/modules/app/migrations/1775396713000-AddMissingSignalColumns.ts
  src/modules/app/typeorm.ts
  src/modules/cache/cache.service.ts
  src/modules/health/health.controller.ts
  src/modules/health/twilio-health.indicator.ts
  src/modules/phone-auth/services/phone-authentication.service.ts
  src/modules/phone-verification/services/phone-number/phone-number.service.ts
  src/modules/phone-verification/services/rate-limit/rate-limit.service.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/services/signal-key-scheduler.service.ts
  src/modules/signal/services/signal-prekey-bundle.service.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
Labels: ⚙️ config, 🎮 api:controllers, ⏱️ security:rate-limit, 💥 breaking-change, ⚡ performance, 🌍 external

fix(cd): point to prod/ manifest path on main branch
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(cd): point to prod/ manifest path on main branch
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(docker): remove /v1 from healthcheck path
  docker/prod/compose.yml
Labels: 🐳 devops:docker

fix(docker): remove /v1 from healthcheck path
  docker/prod/compose.yml
Labels: 🐳 devops:docker

fix(docker): healthcheck for distroless and correct port/path
  docker/prod/Dockerfile
  src/docker/health-check.ts
Labels: 🐳 devops:docker

fix(cd): point deploy/preprod to k8s/whispr/preprod path
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(docker): healthcheck for distroless and correct port/path
  docker/prod/Dockerfile
  src/docker/health-check.ts
Labels: 🐳 devops:docker

fix(cd): point deploy/preprod to k8s/whispr/preprod path
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(test): update health-check spec to match new port and endpoint path
  src/docker/health-check.spec.ts
Labels: 🧪 tests:unit

fix(test): update health-check spec to match new port and endpoint path
  src/docker/health-check.spec.ts
Labels: 🧪 tests:unit

fix(phone-auth): pass Redis password to event publisher client
  src/modules/phone-auth/phone-authentication.module.ts
Labels: 💥 breaking-change

fix(phone-auth): pass Redis password to event publisher client
  src/modules/phone-auth/phone-authentication.module.ts
Labels: 💥 breaking-change

fix(test): remove URI versioning from e2e test helper
  test/helpers/create-test-app.ts
Labels: 🔬 tests:e2e

chore: remove /v1 URI versioning from all API routes
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/signal/controllers/signal-keys.controller.ts
  test/app.e2e-spec.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(test): remove URI versioning from e2e test helper
  test/helpers/create-test-app.ts
Labels: 🔬 tests:e2e

chore: remove /v1 URI versioning from all API routes
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/signal/controllers/signal-keys.controller.ts
  test/app.e2e-spec.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(phone-auth): pass Redis password to event publisher client
  src/modules/phone-auth/phone-authentication.module.ts
Labels: 💥 breaking-change

fix(docker): healthcheck for distroless and correct port/path
  docker/prod/Dockerfile
  src/docker/health-check.ts
Labels: 🐳 devops:docker

fix(test): update health-check spec to match new port and endpoint path
  src/docker/health-check.spec.ts
Labels: 🧪 tests:unit

chore: remove /v1 URI versioning from all API routes
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/signal/controllers/signal-keys.controller.ts
  test/app.e2e-spec.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(test): remove URI versioning from e2e test helper
  test/helpers/create-test-app.ts
Labels: 🔬 tests:e2e

sync: preprod fixes to main (/v1 removal, docker healthcheck, phone-auth redis) (#149)
  docker/prod/Dockerfile
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/signal/controllers/signal-keys.controller.ts
  test/app.e2e-spec.ts
  test/helpers/create-test-app.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, 💥 breaking-change

sync: preprod fixes to main (/v1 removal, docker healthcheck, phone-auth redis) (#149)
  docker/prod/Dockerfile
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/signal/controllers/signal-keys.controller.ts
  test/app.e2e-spec.ts
  test/helpers/create-test-app.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, 💥 breaking-change

fix(test): update e2e URLs and fix ioredis mock
  test/devices.e2e-spec.ts
  test/login.e2e-spec.ts
  test/qr-code.e2e-spec.ts
  test/setup-e2e.ts
  test/signal-keys.e2e-spec.ts
  test/signal.e2e-spec.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(cd): scope yq image update to Deployment/Job kind only
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(cd): scope yq image update to Deployment/Job kind only
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(cd): scope yq image update to Deployment/Job kind only
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(cd): scope yq image update to Deployment/Job kind only
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(cd): scope yq image update to Deployment/Job kind only
  .github/workflows/cd.yml
Labels: ⚡ devops:ci-cd

fix(test): update e2e URLs and fix ioredis mock (#150)
  test/devices.e2e-spec.ts
  test/login.e2e-spec.ts
  test/qr-code.e2e-spec.ts
  test/setup-e2e.ts
  test/signal-keys.e2e-spec.ts
  test/signal.e2e-spec.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(test): update e2e URLs and fix ioredis mock (#150)
  test/devices.e2e-spec.ts
  test/login.e2e-spec.ts
  test/qr-code.e2e-spec.ts
  test/setup-e2e.ts
  test/signal-keys.e2e-spec.ts
  test/signal.e2e-spec.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🔬 tests:e2e

Revert "sync: preprod fixes to main (/v1 removal, docker healthcheck, phone-auth redis) (#149)"
  docker/prod/Dockerfile
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/signal/controllers/signal-keys.controller.ts
  test/app.e2e-spec.ts
  test/helpers/create-test-app.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, 💥 breaking-change

Revert "sync: preprod fixes to main (/v1 removal, docker healthcheck, phone-auth redis) (#149)"
  docker/prod/Dockerfile
  src/docker/health-check.spec.ts
  src/docker/health-check.ts
  src/main.ts
  src/modules/jwks/jwks.controller.ts
  src/modules/phone-auth/phone-authentication.module.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  src/modules/signal/controllers/signal-keys-management.controller.ts
  src/modules/signal/controllers/signal-keys.controller.ts
  test/app.e2e-spec.ts
  test/helpers/create-test-app.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
Labels: ⚙️ config, 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, 💥 breaking-change

Revert "fix(test): update e2e URLs and fix ioredis mock (#150)"
  test/devices.e2e-spec.ts
  test/login.e2e-spec.ts
  test/qr-code.e2e-spec.ts
  test/setup-e2e.ts
  test/signal-keys.e2e-spec.ts
  test/signal.e2e-spec.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🔬 tests:e2e

Revert "fix(test): update e2e URLs and fix ioredis mock (#150)"
  test/devices.e2e-spec.ts
  test/login.e2e-spec.ts
  test/qr-code.e2e-spec.ts
  test/setup-e2e.ts
  test/signal-keys.e2e-spec.ts
  test/signal.e2e-spec.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(docker): healthcheck for distroless and correct port/path
  docker/prod/Dockerfile
  src/docker/health-check.ts
Labels: 🐳 devops:docker

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'
