Repository whispr-messenger/auth-service, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔐 auth:core, 🎫 auth:tokens, 🔒 auth:2fa, 📱 auth:devices, 🔑 security:crypto, 🗄️ database, ⚙️ config, 💊 health, 🎮 api:controllers, 🔗 api:grpc, 📋 api:dto, 🛡️ security:guards, ⏱️ security:rate-limit, 🔄 middleware, 🧪 tests:unit, 🔬 tests:e2e, 🐳 devops:docker, ⚡ devops:ci-cd, 🌐 devops:nginx, 📜 devops:scripts, 📐 docs:architecture, 📋 docs:specs, 🔧 docs:operations, 🔗 docs:integration, 📊 docs:governance, 📖 documentation, 📦 dependencies, 🎨 tools:linting, 🔒 tools:security, 💥 breaking-change, ⚡ performance, 🌍 external

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically applies labels based on changed files

# ================================
# 📁 Core Components
# ================================

# Authentication Core
🔐 auth:core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/modules/auth.module.ts'
      - 'src/services/auth.service.ts'
      - 'src/services/auth.service.spec.ts'
      - 'src/controllers/auth.controller.ts'
      - 'src/dto/auth/**/*'
      - 'src/dto/auth.dto.ts'

# JWT & Token Management
🎫 auth:tokens:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/token.service.ts'
      - 'src/guards/jwt-auth.guard.ts'
      - 'src/services/verification.service.ts'

# Two-Factor Authentication
🔒 auth:2fa:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/two-factor.service.ts'
      - 'src/dto/auth/two-factor*.dto.ts'
      - 'src/services/backup-codes.service.ts'
      - 'src/entities/backup-code.entity.ts'

# Device Management
📱 auth:devices:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/device.service.ts'
      - 'src/services/device.service.spec.ts'
      - 'src/entities/device.entity.ts'
      - 'src/dto/auth/*device*.dto.ts'

# Cryptography & Security
🔑 security:crypto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/crypto.service.ts'
      - 'src/entities/identity-key.entity.ts'
      - 'src/entities/prekey.entity.ts'
      - 'src/entities/signed-prekey.entity.ts'

# ================================
# 🏗️ Infrastructure & Configuration
# ================================

# Database & Entities
🗄️ database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/entities/**/*'
      - 'src/migrations/**/*'
      - 'init.sql'
      - '**/*entity*.ts'
      - '**/*migration*.ts'

# Configuration
⚙️ config:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/health-check.ts'
      - '**/*config*.ts'
      - '**/*config*.js'
      - 'ecosystem.config.js'
      - 'nest-cli.json'
      - 'tsconfig*.json'

# Health & Monitoring
💊 health:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/health/**/*'
      - 'src/health-check.ts'

# ================================
# 🌐 Communication & APIs
# ================================

# Controllers & APIs
🎮 api:controllers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/controllers/**/*'
      - '**/*controller*.ts'

# gRPC Services
🔗 api:grpc:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/grpc/**/*'
      - '**/*grpc*.ts'
      - '**/*.proto'

# DTOs & Interfaces
📋 api:dto:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/dto/**/*'
      - 'src/interfaces/**/*'
      - '**/*dto*.ts'
      - '**/*interface*.ts'

# ================================
# 🛡️ Security & Middleware
# ================================

# Guards & Security
🛡️ security:guards:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/**/*'
      - '**/*guard*.ts'

# Rate Limiting
⏱️ security:rate-limit:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/guards/rate-limit.guard.ts'
      - '**/*throttle*.ts'
      - '**/*rate*.ts'

# Interceptors & Middleware
🔄 middleware:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/interceptors/**/*'
      - 'src/pipes/**/*'
      - 'src/decorators/**/*'
      - '**/*interceptor*.ts'
      - '**/*pipe*.ts'
      - '**/*decorator*.ts'

# ================================
# 🧪 Testing & Quality
# ================================

# Unit Tests
🧪 tests:unit:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - 'src/**/*.test.ts'

# E2E Tests
🔬 tests:e2e:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.e2e-spec.ts'
      - 'test/jest-e2e.json'
      - 'test/setup-e2e.ts'

# ================================
# 🚀 DevOps & Infrastructure
# ================================

# Docker & Containers
🐳 devops:docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'docker/**/*'
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD Workflows
⚡ devops:ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

# Nginx & Reverse Proxy
🌐 devops:nginx:
  - changed-files:
    - any-glob-to-any-file:
      - 'nginx.conf'
      - '**/*nginx*.conf'

# Scripts & Automation
📜 devops:scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '**/*.sh'

# ================================
# 📚 Documentation
# ================================

# Architecture Documentation
📐 docs:architecture:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/1_architecture/**/*'

# Functional Specifications
📋 docs:specs:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/2_fonctional_specs/**/*'
      - 'documentation/3_technical_specs/**/*'

# Operational Documentation
🔧 docs:operations:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/4_exploitation/**/*'
      - 'documentation/DEPLOYMENT.md'
      - 'documentation/PRODUCTION.md'
      - 'documentation/DEVELOPMENT.md'

# Integration & Migration Docs
🔗 docs:integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/5_integration/**/*'
      - 'documentation/INTEGRATION.md'
      - 'documentation/MIGRATION.md'

# Governance & ADRs
📊 docs:governance:
  - changed-files:
    - any-glob-to-any-file:
      - 'documentation/6_governance/**/*'
      - 'documentation/6_governance/1_architectural_decisions_records/**/*'

# General Documentation
📖 documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*.md'
      - 'documentation/**/*'
      - '**/*.md'

# ================================
# 🔧 Development Tools
# ================================

# Dependencies & Package Management
📦 dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'
      - 'pnpm-lock.yaml'

# Linting & Formatting
🎨 tools:linting:
  - changed-files:
    - any-glob-to-any-file:
      - '.eslintrc*'
      - '.prettierrc*'
      - '.editorconfig'

# Security Scanning
🔒 tools:security:
  - changed-files:
    - any-glob-to-any-file:
      - 'sonar-project.properties'
      - '.github/templates/grype-html.tmpl'

# ================================
# 🎯 Special Categories
# ================================

# Breaking Changes
💥 breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main.ts'
      - 'src/app.module.ts'
      - 'src/modules/**/*'
      - 'src/migrations/**/*'

# Performance Critical
⚡ performance:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/services/**/*'
      - 'src/guards/**/*'
      - 'src/interceptors/**/*'
      - '**/*cache*.ts'
      - '**/*redis*.ts'

# External Dependencies
🌍 external:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*sms*.ts'
      - '**/*twilio*.ts'
      - '**/*grpc*.ts'

fix(migrations): add missing columns and constraints to Signal tables (#129)
  src/modules/app/migrations/1775396713000-AddMissingSignalColumns.ts
Labels: 💥 breaking-change

fix(migrations): add missing columns and constraints to Signal tables (#129)
  src/modules/app/migrations/1775396713000-AddMissingSignalColumns.ts
Labels: 💥 breaking-change

test(signal): add positive e2e test for cleanup with JWT auth
  test/signal.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(2fa): standardize error messages to English [WHISPR-531]
  src/modules/two-factor-authentication/backup-codes/backup-codes.service.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
Labels: 💥 breaking-change

fix(2fa): use 401 instead of 404 for missing backup codes
  src/modules/two-factor-authentication/backup-codes/backup-codes.service.spec.ts
  src/modules/two-factor-authentication/backup-codes/backup-codes.service.ts
Labels: 🧪 tests:unit, 💥 breaking-change

test(2fa): add e2e tests for error response contracts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(docker): run builder stage natively to avoid QEMU SIGILL on arm64
  docker/prod/Dockerfile
Labels: 🐳 devops:docker

fix(docker): split prod deps into native stage to fix arm64 addon mismatch
  docker/prod/Dockerfile
Labels: 🐳 devops:docker

fix(ci): remove linux/arm64 from multi-platform Docker build
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

test(e2e): replace duplicate assertion with precise save check [WHISPR-540] (#124)
  test/registration.e2e-spec.ts
Labels: 🔬 tests:e2e

test(e2e): replace duplicate assertion with precise save check [WHISPR-540] (#124)
  test/registration.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(ci): remove linux/arm64 from multi-platform Docker build (#131)
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

fix(ci): remove linux/arm64 from multi-platform Docker build (#131)
  .github/workflows/docker.yml
Labels: ⚡ devops:ci-cd

test(signal): add e2e tests for health and cleanup endpoints [WHISPR-539] (#121)
  src/modules/signal/controllers/signal-keys-health.controller.spec.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  test/signal.e2e-spec.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

test(signal): add e2e tests for health and cleanup endpoints [WHISPR-539] (#121)
  src/modules/signal/controllers/signal-keys-health.controller.spec.ts
  src/modules/signal/controllers/signal-keys-health.controller.ts
  test/signal.e2e-spec.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(health): make liveness probe lightweight and process-level only (#122)
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

fix(health): make liveness probe lightweight and process-level only (#122)
  src/modules/health/health.controller.spec.ts
  src/modules/health/health.controller.ts
Labels: 🎮 api:controllers, 🧪 tests:unit, 💥 breaking-change

fix(migrations): cast ARRAY literal to name[] in pg_attribute column check
  src/modules/app/migrations/1775396713000-AddMissingSignalColumns.ts
Labels: 💥 breaking-change

fix(migrations): cast attname to text in unique constraint check
  src/modules/app/migrations/1775396713000-AddMissingSignalColumns.ts
Labels: 💥 breaking-change

fix(migrations): cast ARRAY literal to name[] in pg_attribute column check (#132)
  src/modules/app/migrations/1775396713000-AddMissingSignalColumns.ts
Labels: 💥 breaking-change

fix(migrations): cast ARRAY literal to name[] in pg_attribute column check (#132)
  src/modules/app/migrations/1775396713000-AddMissingSignalColumns.ts
Labels: 💥 breaking-change

style(e2e): fix prettier formatting in phone-verification fixture
  test/fixtures/phone-verification.ts
Labels: 🔬 tests:e2e

refactor(e2e): extract bcrypt hash to shared fixture [WHISPR-538]
  test/fixtures/phone-verification.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
Labels: 🔬 tests:e2e

test(registration): strengthen save assertions with objectContaining
  test/registration.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(migrations): cast attname to text in unique constraint check (#133)
  src/modules/app/migrations/1775396713000-AddMissingSignalColumns.ts
Labels: 💥 breaking-change

fix(migrations): cast attname to text in unique constraint check (#133)
  src/modules/app/migrations/1775396713000-AddMissingSignalColumns.ts
Labels: 💥 breaking-change

refactor(e2e): extract bcrypt hash to shared fixture [WHISPR-538] (#126)
  test/fixtures/phone-verification.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
Labels: 🔬 tests:e2e

refactor(e2e): extract bcrypt hash to shared fixture [WHISPR-538] (#126)
  test/fixtures/phone-verification.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(2fa): standardize error messages to English [WHISPR-531] (#125)
  src/modules/two-factor-authentication/backup-codes/backup-codes.service.spec.ts
  src/modules/two-factor-authentication/backup-codes/backup-codes.service.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

fix(2fa): standardize error messages to English [WHISPR-531] (#125)
  src/modules/two-factor-authentication/backup-codes/backup-codes.service.spec.ts
  src/modules/two-factor-authentication/backup-codes/backup-codes.service.ts
  src/modules/two-factor-authentication/services/two-factor-authentication.service.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🧪 tests:unit, 🔬 tests:e2e, 💥 breaking-change

refactor(test): centralize e2e test setup to eliminate overrideProvider duplication [WHISPR-535]
  test/app.e2e-spec.ts
  test/helpers/create-test-module.ts
  test/jwks.e2e-spec.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/signal.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🔬 tests:e2e

refactor(test): centralize e2e test setup to eliminate overrideProvider duplication [WHISPR-535] (#134)
  test/app.e2e-spec.ts
  test/helpers/create-test-module.ts
  test/jwks.e2e-spec.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/signal.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🔬 tests:e2e

refactor(test): centralize e2e test setup to eliminate overrideProvider duplication [WHISPR-535] (#134)
  test/app.e2e-spec.ts
  test/helpers/create-test-module.ts
  test/jwks.e2e-spec.ts
  test/login.e2e-spec.ts
  test/registration.e2e-spec.ts
  test/signal.e2e-spec.ts
  test/token-revocation.e2e-spec.ts
  test/two-factor-authentication.e2e-spec.ts
Labels: 🔬 tests:e2e

test(login): complete e2e coverage for login flow [WHISPR-537]
  test/login.e2e-spec.ts
Labels: 🔬 tests:e2e

test(login): complete e2e coverage for login flow [WHISPR-537] (#135)
  test/login.e2e-spec.ts
Labels: 🔬 tests:e2e

test(login): complete e2e coverage for login flow [WHISPR-537] (#135)
  test/login.e2e-spec.ts
Labels: 🔬 tests:e2e

test(health): replace toBeDefined assertions with concrete value checks
  test/app.e2e-spec.ts
Labels: 🔬 tests:e2e

test(e2e): add E2E tests for devices, qr-code, and signal key management
  test/devices.e2e-spec.ts
  test/qr-code.e2e-spec.ts
  test/signal-keys.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(health): harden healthcheck e2e assertions for CI stability
  test/app.e2e-spec.ts
Labels: 🔬 tests:e2e

fix(test): align e2e mocks with actual DTOs and service contracts
  test/devices.e2e-spec.ts
  test/qr-code.e2e-spec.ts
Labels: 🔬 tests:e2e
